<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
	<meta charset="UTF-8">
	<title>smore</title>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">

</head>

<body>
	<header id="header">
		<h2>Spring Boot BBS</h2>
			<div class="login-container">
			<th:block th:if="${session.loginMember == null}">
				<form id="loginFrm" th:action="@{/login}" method="post">
					<table>
						<tr>
							<td>
								<input type="text" name="userId" id="userId" placeholder="아이디" required="required">
							</td>
							<td>
							</td>
						</tr>				
						<tr>
							<td>
								<input type="password" name="userPwd" id="userPwd" placeholder="비밀번호" required="required">
							</td>
							<td>
								<input type="submit" value="로그인">
							</td>
						</tr>			
						<tr>
							<td colspan="2">
								<input type="button" value="회원가입" onclick="location.href='member/enroll';"/>
							</td>
						</tr>	
					</table>
				</form>
			</th:block>
			
			<th:block th:if="${session.loginMember != null}">
				<table>
					<tr>
						<td colspan="2">
							[[${session.loginMember.name}]] 님 안녕하세요?
						</td>
					</tr>
					<tr>
						<td>	
							<button onclick="location.href = '/member/view';">내정보</button>
						</td>
						<td>
							<button onclick="location.replace('/logout')">로그아웃</button>
						</td>
					</tr>
				</table>
			</th:block>
			</div>
			<nav>
				<ul class="main-nav">
					<li class="home"><a th:href="@{/}">Home</a></li>		
					<li class="notice"><a>공지사항</a></li>
					<li class="board"><a th:href="@{/board/list}">게시판</a></li>
					<th:block th:if="${loginMember != null && loginMember.role == 'ROLE_ADMIN'}">
						<li class="admin-member">
							<a th:href="@{/admin/member}"> 회원관리</a>
						</li>	
					</th:block>
				</ul>
			</nav>
	
	
	</header>
		
	<footer id="footer">
		<div align="center">
			&lt;CopyRight 2022. <Strong>MultiCampus</Strong>. All rights reserved.&gt;
		</div>
	</footer>
</body>
</html>
