<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
	<meta charset="utf-8" />
	<title th:text="${pageTitle}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=" " />
	<meta name="keywords" content="" />
	<meta content="Themesdesign" name="author" />

	<!-- App favicon -->
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}">

	<!-- Choise Css -->
	<link rel="stylesheet" th:href="@{/libs/choices.js/public/assets/styles/choices.min.css}">

	<!-- Swiper Css -->
	<link rel="stylesheet" th:href="@{/libs/swiper/swiper-bundle.min.css}">

	<!-- Bootstrap Css -->
	<link th:href="@{/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link th:href="@{/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
	<!-- Pretendard Font -->
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
	<!-- Font Awesome CSS -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  	<script src="https://kit.fontawesome.com/dd4a6a23ab.js" crossorigin="anonymous"></script>
  	<!-- Chatbot CSS -->
  	<link rel="stylesheet" th:href="@{/css/chatStyle.css}" id="chatbot" type="text/css">
  	<!-- jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

</head>

<body>
	<header id="header">
		<!-- Begin page -->
	    <!--Navbar Start-->
	    <nav class="navbar navbar-expand-lg" id="navbar">
	      <div class="container-fluid custom-container">
	        <a class="navbar-brand text-dark fw-bold me-auto" th:href="@{/}">
	          <img th:src="@{/images/logo-dark.png}" height="45" alt="" class="logo-dark" />
	          <img th:src="@{/images/logo-light.png}" height="45" alt="" class="logo-light" />
	        </a>
	        <div>
	          <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
	            aria-controls="navbarCollapse" aria-label="Toggle navigation">
	            <i class="mdi mdi-menu"></i>
	          </button>
	        </div>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mx-auto navbar-center">
	            <li class="nav-item dropdown dropdown-hover">
	              <a class="nav-link" href="javascript:void(0)" id="homedrop" role="button" data-bs-toggle="dropdown">
	                라이프 <div class="arrow-down"></div>
	              </a>
	              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
	                <li><a class="dropdown-item" th:href="@{/trade}">중고/재능 거래</a></li>
	                <li><a class="dropdown-item" th:href="@{/recipe}">레시피</a></li>
	                <hr class="mb-0">
					<span class="dropdown-header mb-0">야외활동</span>
                	<li><a class="dropdown-item" th:href="@{/outdoor}">공원</a></li>
               		<li><a class="dropdown-item" th:href="@{/tracking}">산책로</a></li>
	              </ul>
	            </li>
	            <li class="nav-item dropdown dropdown-hover">
	              <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
	                정보 <div class="arrow-down"></div>
	              </a>
	              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
	                <li><a class="dropdown-item" th:href="@{/rental}">공공임대주택</a></li>
	                <li><a class="dropdown-item" th:href="@{/program}">정부지원사업</a></li>
	                <li><a class="dropdown-item" th:href="@{/news}">뉴스</a></li>
	              </ul>
	            </li>
	            <li class="nav-item dropdown dropdown-hover">
	              <a class="nav-link" href="javascript:void(0)" id="productdropdown" role="button" data-bs-toggle="dropdown"
	                aria-expanded="false">
	                커뮤니티
	                <div class="arrow-down"></div>
	              </a>
	              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="productdropdown">
	                <li><a class="dropdown-item" th:href="@{/board/list?type=notice}">공지사항</a></li>
	                <li><a class="dropdown-item" th:href="@{/board/list?type=free}">자유 게시판</a></li>
	                <li><a class="dropdown-item" th:href="@{/board/list?type=question}">건의 게시판</a></li>
	              </ul>
	            </li><!--end dropdown-->
	          </ul><!--end navbar-nav-->
	        </div>
	        <!--end navabar-collapse-->
	        
	        <!--logout-->
	       	<th:block th:if="${session.loginMember == null}">
				<ul class="header-menu list-inline d-flex align-items-center mb-0">
					<a class="text-reset mx-2 log-menu" th:href="@{/login}"><span class="d-none d-md-inline-block fw-medium">로그인</span></a> | 
					<a class="text-reset mx-2 log-menu" th:href="@{/member/enrol}"><span class="d-none d-md-inline-block fw-medium">회원가입</span></a>
				</ul>
			</th:block>
			
			<!--login-->
			<th:block th:if="${session.loginMember != null}">
		        <ul class="header-menu list-inline d-flex align-items-center mb-0">
		          <li class="list-inline-item dropdown">
		            <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
		              aria-expanded="false">
		              <img th:src="@{/images/user/avatar2.png}" alt="mdo" width="35" height="35" class="rounded-circle me-1"> <span
		                class="d-none d-md-inline-block fw-medium"><th:block th:text="${session.loginMember.name} + ' 님'"/></span>
		            </a>
		            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
		              <li><a class="dropdown-item" th:href="@{/member/view}">마이페이지</a></li>
					  <li><a class="dropdown-item" th:href="@{/housebudget/list}">가계부</a></li>
		              <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
		            </ul>
		          </li>
		        </ul><!--end header-menu-->
	        </th:block>
	      </div>
	      <!--end container-->
	    </nav>
	    <!-- Navbar End -->
	</header>
	
	<div id="chatbot">
	  
	</div>
		
	<footer id="footer">
		<div class="floating-chat">
		  <i class="fa fa-comments fa-2x" aria-hidden="true" style="color: #766df4 ;"></i>
		  <div class="chat">
		      <div class="header">
		        <span class="title" style="color: black;">
		            <h2 style="font-size: 18px; margin-top: 10px;">💬 챗봇과 대화하기</h2>
		            <h4 style="font-size: 13px; margin-top: 5px;">스모어 챗봇을 통해 문의를 해결해보세요💜</h4>
		          </span>
		          <button>
		              <i class="fa fa-times" aria-hidden="true"></i>
		          </button>
		      </div>
		      <div class="separator-full separator-light mt-0 opacity-10"></div>
		      <ul class="messages"></ul>
		
		      <div class="footer">
		        <div class="text-box" id="user_msg" contenteditable="true" disabled="true" onkeyup="enterkey();"></div>
		          <button id="sendMessage"><span class="mdi mdi-send"></span></button>
		      </div>
		  </div>
		</div>
		<div class="footer-alt">
			<div class="container">
				<div class="row">
					<div class="text-center text-white-50 col-lg-12 mb-2">
						<img style="height: 45px;" th:src="@{/images/logo-light.png}">
					</div>
					<div class="text-center text-white-50 col-lg-12">
						<a class="d-inline-block text-reset" href="#">개인정보처리방침</a> | <a
							class="d-inline-block text-reset" href="#">저작권정책</a> | <a
							class="d-inline-block text-reset" href="#">사이트맵</a>
					</div>
					<div class="col-lg-12">
						<p class="text-white-50 text-center mb-0">
							고객센터 : 02-123-1234
							<script>
								document.write(new Date().getFullYear())
							</script>
							&copy; smore - All Rights Reserved.
						</p>
					</div>
					<!--end col-->
				</div>
				<!--end row-->
			</div>
			<!--end container-->
		</div>
		
		<script th:src="@{/js/pages/chatScript.js}"></script>
	</footer>
</body>
</html>
