<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:replace="~{common/layout :: head}"></head>

<body>
<header th:replace="~{common/layout :: #header}"></header>

<style>
	div#board-write-container{width:600px;margin:0 auto;text-align:center;}
	div#board-write-container h2{margin:10px 0;}
	table#tbl-board{width:500px; margin:0 auto; border:1px solid black;border-collapse:collapse;}
	table#tbl-board th{width:125px;border:1px solid;padding:5px 0;text-align:center;}
	table#tbl-board td{	border:1px solid; padding:5px 0 5px 10px; text-align:left;}
</style>


<section id="content">
	<h2 align="center">게시글 작성</h2>
	<div id='board-write-container'>
		<form action="/board/write" method="post" enctype="multipart/form-data">
			<table id="tbl-board">
				<tr>
					<th>제목</th>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<th>작성자</th>
					<td><input type="text" name="writerId" th:value="${session.loginMember.id}" readonly></td>
				</tr>
				<tr>
					<th>첨부파일1</th>
					<td><input type="file" name="upfile"></td>
				</tr>
<!-- 				<tr> -->
<!-- 					<th>첨부파일2</th> -->
<!-- 					<td><input type="file" name="upfile2"></td> -->
<!-- 				</tr> -->
				<tr>
					<th>내용</th>
					<td><textarea name="content" cols="50" rows="15"></textarea></td>
				</tr>
				<tr>
					<th colspan="2">
						<input type="submit" value="등록">
						<input type="reset" value="취소">
					</th>
				</tr>
			</table>
		</form>
	</div>
</section>
	

<footer th:replace="~{common/layout :: #footer}"></footer>
</body>
</html>

