@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@font-face {
  font-family: 'SANJUGotgam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*채민*/
.font-sangju {
  font-family: 'SANJUGotgam';
}

.popu-category-img {
  width: 80px;
  height: 80px;
  margin: auto;
  line-height: 120px;
}

.log-menu:hover {
  color: #766df4 !important;
}

.index-img {
  height: 13rem;
  width: 13rem;
  border-radius: 10px;
  object-fit: cover;
}

.bg-lightgray {
  background-color: #F2F2F2;
}

.bg-index {
  height: 8rem;
  width: 100%;
  background-color: #FFF;
  position: absolute;
}

.index-title {
  font-weight: 900;
  font-size: 1.8rem;
}

.index-rcp-img {
  height: 20rem;
  width: auto;
  object-fit: cover;
}

.rental-div {
  position: relative;
  height: 250px;
}

.index-rental { 
  height: 250px;
  width: 100%;
  display: flex;
}

.index-rental-btn {
  position: absolute;
  bottom: 6px;
  background-color: #FFF;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 5px #404040;
  color: #495057;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
}

.index-rental-btn:hover {
  color: #766df4;
}

.index-board {
  text-overflow: ellipsis;
}

.index-board-font {
  width: 550px;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.1rem;
  color: #495057;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trail-wrapper {
  position: relative;
}

.index-trail {
  height: 200px;
  width: 340px;
}

.index-trail-img {
  border-radius: 20px;
  height: 200px;
  width: 340px;
  object-fit: cover;
  transition: 0.5s;
}

.index-trail-img:hover {
  filter: brightness(0.7);
}

.index-trail-info {
  position: absolute;
  color: #FFF;
  left: 30px;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}

.trail-wrapper:hover .index-trail-info {
  opacity: 1;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	height: 20px;
  	width: 13rem;
  	margin-left: 27px;
}

.p-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	height: 20px;
  	width: 300px;
}
