@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@font-face {
  font-family: 'SANJUGotgam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-sangju{
  font-family: 'SANJUGotgam';
}

.hero-title {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'SANJUGotgam';
}
/* 메인배너 사진  */
.page-title-box2 {
  background-size: cover;
  position: relative;
  padding-top: 200px;
  padding-bottom: 110px;
  background-position: center;
}
/* 메인배너 경로 */
.breadcrumb2 {
  letter-spacing: .5px;
  text-align: center
}
.breadcrumb2 .breadcrumb-item2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600
}
.breadcrumb2 .breadcrumb-item2::before {
  content: "\f0142";
  font-size: 18px;
  color: #fff;
  font-family: "Material Design Icons";
  padding-left: 8px
}

.breadcrumb2 .breadcrumb-item2:first-child::before {
  content: ""
}

.breadcrumb2 .breadcrumb-item2 a {
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}

.breadcrumb2 .breadcrumb-item2 a:hover {
  color: #e2e5e8
}

.breadcrumb2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none
}

.breadcrumb-item2+.breadcrumb-item2 {
  padding-left: .5rem
}

.breadcrumb-item2+.breadcrumb-item2::before {
  float: left;
  padding-right: .5rem;
  color: #fff;
  content: var(--bs-breadcrumb-divider, "\f0142")
}

.breadcrumb-item2.active {
  color: #e2e5e8
}
/* 검색창  */
.filter-job-input-box2{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 44px;
  padding: 6px 6px 6px 45px;
  border-radius: 6px
}


/* 하트 버튼  */
.bookmark-post .favorite-icon2 a, .job-box.bookmark-post .favorite-icon2 a {
  background-color: #5257c2;
  color: #fff;
  border-color: danger;
}
.favorite-icon2 a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #eff0f2;
  border-radius: 6px;
  color: rgba(173, 181, 189, .55);
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}

.favorite-icon2 > a:hover {
  color: #fff;
  background-color: #766df4;
  border-color: #766df4;
}
.active a{
	color: #fff !important;
  background-color: #766df4 !important;
}

.active >a :hover{
	color: #fff !important;
  background-color: #766df4 !important;
}

.job-box .favorite-icon2 {
  position: absolute;
  top: 15px;
  right: 15px
}

.job-detail-list2 li {
  padding-left: 25px;
  position: relative;
  margin-top: 12px
}
.job-detail-list2 li i {
  color: #5257c2;
  font-size: 12px;
  line-height: 23px;
  left: 0;
  position: absolute;
  top: 0
}
.badge2 {
  display: inline-block;
  padding: .6rem .9rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem
}
.badge3 {
  display: inline-block;
  padding: .6rem .7rem;
  margin: 0.3rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1rem
}

/* -------search 페이지---------- */

.highlight{
  color:#5257c2;
  font-weight: 600;
}
.job-detail-list2 li a{
  text-decoration: none;
  color: #868686;
}
.category1{
  font-size:1.4rem;
  font-weight: 600;
  font-family: 'SANJUGotgam';
}

@media (max-width: 991.98px) {
  .home-img {
    height: auto;
    width: 100%;
  }
}