<!doctype html>
<html lang="ko">

<head>


    <meta charset="utf-8" />
    <title>Smore | Mypage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta content="Themesdesign" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Choise Css -->
    <link rel="stylesheet" href="assets/libs/choices.js/public/assets/styles/choices.min.css">

    <!-- Light Box Css -->
    <link rel="stylesheet" href="assets/libs/glightbox/css/glightbox.min.css">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!--Custom Css-->
    <link href="assets/css/mypage.css" id="mypage" rel="stylesheet" type="text/css" />
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dd4a6a23ab.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Begin page -->
    <div>
        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid custom-container">
                <a class="navbar-brand text-dark fw-bold me-auto" href="index.html">
                    <img src="assets/images/logo-dark.png" height="45" alt="" class="logo-dark" />
                    <img src="assets/images/logo-light.png" height="45" alt="" class="logo-light" />
                </a>
                <div>
                    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto navbar-center">
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link" href="javascript:void(0)" id="homedrop" role="button"
                                data-bs-toggle="dropdown">
                                라이프 <div class="arrow-down"></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                                <li><a class="dropdown-item" href="trade.html">중고/재능 거래</a></li>
                                <li><a class="dropdown-item" href="recipe.html">레시피</a></li>
                                <li><a class="dropdown-item" href="outdoor.html">야외활동</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button"
                                data-bs-toggle="dropdown">
                                정보 <div class="arrow-down"></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
                                <li><a class="dropdown-item" href="rental.html">공공임대주택</a></li>
                                <li><a class="dropdown-item" href="program.html">정부지원사업</a></li>
                                <li><a class="dropdown-item" href="news.html">뉴스</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link" href="javascript:void(0)" id="productdropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                커뮤니티
                                <div class="arrow-down"></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="productdropdown">
                                <li><a class="dropdown-item" href="notice.html">공지사항</a></li>
                                <li><a class="dropdown-item" href="board.html">자유 게시판</a></li>
                                <li><a class="dropdown-item" href="suggestion.html">건의 게시판</a></li>
                            </ul>
                        </li><!--end dropdown-->
                    </ul><!--end navbar-nav-->
                </div>
                <!--end navabar-collapse-->
                <ul class="header-menu list-inline d-flex align-items-center mb-0">
                    <li class="list-inline-item dropdown me-4">
                        <a href="javascript:void(0)" class="header-item noti-icon position-relative" id="notification"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-bell fs-22"></i>
                            <div class="count position-absolute">1</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0"
                            aria-labelledby="notification">
                            <div class="notification-header border-bottom bg-light">
                                <h6 class="mb-1"> 알림센터 </h6>
                                <p class="text-muted fs-13 mb-0">1개의 읽지 않은 알림</p>
                            </div>
                            <div class="notification-wrapper dropdown-scroll">
                                <a href="javascript:void(0)" class="text-dark notification-item d-block active">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-xs bg-primary text-white rounded-circle text-center">
                                                <i class="uil uil-user-check"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mt-0 mb-1 fs-14">22 verified registrations</h6>
                                            <p class="mb-0 fs-12 text-muted"><i class="mdi mdi-clock-outline"></i>
                                                <span>3 min
                                                    ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </a><!--end notification-item-->
                            </div><!--end notification-wrapper-->
                            <div class="notification-footer border-top text-center">
                                <a class="primary-link fs-13" href="javascript:void(0)">
                                    <i class="mdi mdi-arrow-right-circle me-1"></i> <span>더보기</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="assets/images/profile.jpg" alt="mdo" width="35" height="35"
                                class="rounded-circle me-1"> <span class="d-none d-md-inline-block fw-medium">스모어
                                님</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
                            <li><a class="dropdown-item" href="mypage.html">마이페이지</a></li>
                            <li><a class="dropdown-item" href="signout.html">로그아웃</a></li>
                        </ul>
                    </li>
                </ul><!--end header-menu-->
            </div>
            <!--end container-->
        </nav>
        <!-- Navbar End -->

        <div class="main-content">
            <div class="page-content">

                <!-- Start home -->
                <section class="page-title-box"
                    style="height:350px; padding-top:130px !important; background-image: linear-gradient( rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.48) ), url(assets/images/img/hero_mypage.jpg); background-position: center 60%;">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="text-center text-white">
                                    <h1 class="mb-3 font-sangju" style="font-size: 40pt;">마이페이지</h1>
                                    <div class="page-next">
                                        <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                            <ol class="breadcrumb justify-content-center">
                                                <li class="breadcrumb-item "><a href="index.html " class="h5"> HOME </a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="javascript:void(0)" class="h5"> MY
                                                        PAGE </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </section>
                <!-- end home -->

                <!-- START SHAPE -->
                <div class="position-relative" style="z-index: 1">
                    <div class="shape">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                            <path fill="#FFFFFF" fill-opacity="1"
                                d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!-- END SHAPE -->


                <!-- START CANDIDATE-DETAILS -->
                <section class="section mt-3">
                    <div class="container">
                        <div class="row">
                            <!-- 왼쪽 내정보칸 -->
                            <div class="col-lg-4">
                                <div class="card side-bar">
                                    <div class="card-body p-4">
                                        <div class="candidate-profile text-center">
                                            <img src="assets/images/user/img-01.jpg" alt=""
                                                class="avatar-lg rounded-circle img-thumbnail">
                                            <h6 class="fs-18 mb-2 mt-4">사용자아이디</h6>
                                        </div>
                                    </div><!--end candidate-profile-->

                                    <div class="candidate-contact-details card-body p-4 border-top">
                                        <h6 class="fs-17 fw-semibold mb-3">내정보</h6>
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <div class="d-flex align-items-center mt-4">
                                                    <div class="icon bg-soft-primary flex-shrink-0">
                                                        <i class="uil uil-phone"></i>
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="fs-14 mb-1">Phone</h6>
                                                        <p class="text-muted mb-0">010-1234-5678</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mt-4">
                                                    <div class="icon bg-soft-primary flex-shrink-0">
                                                        <i class="uil uil-envelope-alt"></i>
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="fs-14 mb-1">Email</h6>
                                                        <p class="text-muted mb-0">gabrielpalmer@gmail.com</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center mt-4">
                                                    <div class="icon bg-soft-primary flex-shrink-0">
                                                        <i class="uil uil-map-marker"></i>
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="fs-14 mb-1">Address</h6>
                                                        <p class="text-muted mb-0">서울리 무아우 모아동 23202동 101호</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!--end candidate-overview-->

                                    <!-- <div class="candidate-profile-overview  card-body border-top p-4">
                                            <h6 class="fs-17 fw-semibold mb-3">내정보</h6>
                                            <ul class="list-unstyled mb-0">
                                                <li>
                                                    <div class="d-flex">
                                                        <label class="text-dark">연락처</label>
                                                        <div>
                                                            <p class="mb-0">010-1234-5678</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="d-flex">
                                                        <label class="text-dark">이메일</label>
                                                        <div>
                                                            <p class="mb-0">test1@gamil.com</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="d-flex">
                                                        <label class="text-dark">주소</label>
                                                        <div>
                                                            <p class="mb-0">서울리 무아우 모아동 23202동 101호</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="mt-3">
                                                <a href="javascript:void(0)" class="btn btn-danger btn-hover w-100"><i class="uil uil-phone"></i> Contact Me</a>
                                                <a href="javascript:void(0)" class="btn btn-primary btn-hover w-100 mt-2"><i class="uil uil-import"></i> Download CV</a>
                                            </div>
                                            <ul class="list-inline d-flex justify-content-between align-items-center mb-0 mt-2">
                                                <li class="list-inline-item text-warning review-rating">
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>  
                                                    <i class="mdi mdi-star-half-full"></i>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="favorite-icon">
                                                        <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> -->
                                    <!--candidate-profile-overview-->

                                </div><!--end card-->
                            </div><!--end col-->
                            <!-- 오른쪽 탭칸 -->
                            <div class="col-lg-8 mb-5">
                                <div class="card candidate-details ms-lg-4 mt-4 mt-lg-0">
                                    <div class="card-body p-2 candidate-personal-detail">

                                        <div class="">
                                            <ul class="profile-content-nav nav nav-pills border-bottom mb-3"
                                                id="pills-tab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="overview-tab"
                                                        data-bs-toggle="pill" data-bs-target="#clip" type="button"
                                                        role="tab" aria-controls="overview" aria-selected="false">
                                                        스크랩 내역
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="settings-tab" data-bs-toggle="pill"
                                                        data-bs-target="#mypinfo" type="button" role="tab"
                                                        aria-controls="settings" aria-selected="true">
                                                        정보 변경
                                                    </button>
                                                </li>
                                            </ul>

                                            <div class="tab-content px-2 text-muted">
                                                <!-- 스크랩내역 -->
                                                <div class="tab-pane active" id="clip" role="tabpanel">
                                                    <!-- item1 -->
                                                    <div class="job-box card mb-2">
                                                        <div class="card-body p-3">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <div class="mt-3 mt-lg-0">
                                                                        <h5 class="fs-17 mb-1"><a href="#"
                                                                                class="text-dark">종로구 1인가구 포럼</a></h5>
                                                                        <p class="text-muted fs-14 mb-0">Jobcy
                                                                            Technology Pvt.Ltd</p>
                                                                    </div>
                                                                </div><!--end col-->
                                                                <div class="col-lg-3 align-self-center">
                                                                    <ul class="list-inline mb-0 float-end">
                                                                        <li class="list-inline-item"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="View More">
                                                                            <a href="job-details.html"
                                                                                class="avatar-xs bg-soft-success d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="mdi mdi-eye"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item "
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="Delete">
                                                                            <a href="javascript:void(0)"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#deleteModal"
                                                                                class="avatar-xs bg-soft-danger d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="uil uil-trash-alt"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div><!--end row-->
                                                        </div>
                                                    </div> <!-- item1 end -->

                                                    <!-- item1 -->
                                                    <div class="job-box card mb-2">
                                                        <div class="card-body p-3">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <div class="mt-3 mt-lg-0">
                                                                        <h5 class="fs-17 mb-1"><a href="#"
                                                                                class="text-dark">종로구 1인가구 포럼</a></h5>
                                                                        <p class="text-muted fs-14 mb-0">Jobcy
                                                                            Technology Pvt.Ltd</p>
                                                                    </div>
                                                                </div><!--end col-->
                                                                <div class="col-lg-3 align-self-center">
                                                                    <ul class="list-inline mb-0 float-end">
                                                                        <li class="list-inline-item"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="View More">
                                                                            <a href="job-details.html"
                                                                                class="avatar-xs bg-soft-success d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="mdi mdi-eye"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item "
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="Delete">
                                                                            <a href="javascript:void(0)"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#deleteModal"
                                                                                class="avatar-xs bg-soft-danger d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="uil uil-trash-alt"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div><!--end row-->
                                                        </div>
                                                    </div> <!-- item1 end -->

                                                    <!-- item1 -->
                                                    <div class="job-box card mb-2">
                                                        <div class="card-body p-3">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <div class="mt-3 mt-lg-0">
                                                                        <h5 class="fs-17 mb-1"><a href="#"
                                                                                class="text-dark">종로구 1인가구 포럼</a></h5>
                                                                        <p class="text-muted fs-14 mb-0">Jobcy
                                                                            Technology Pvt.Ltd</p>
                                                                    </div>
                                                                </div><!--end col-->
                                                                <div class="col-lg-3 align-self-center">
                                                                    <ul class="list-inline mb-0 float-end">
                                                                        <li class="list-inline-item"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="View More">
                                                                            <a href="job-details.html"
                                                                                class="avatar-xs bg-soft-success d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="mdi mdi-eye"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item "
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="Delete">
                                                                            <a href="javascript:void(0)"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#deleteModal"
                                                                                class="avatar-xs bg-soft-danger d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="uil uil-trash-alt"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div><!--end row-->
                                                        </div>
                                                    </div> <!-- item1 end -->

                                                    <!-- item1 -->
                                                    <div class="job-box card mb-2">
                                                        <div class="card-body p-3">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <div class="mt-3 mt-lg-0">
                                                                        <h5 class="fs-17 mb-1"><a href="#"
                                                                                class="text-dark">종로구 1인가구 포럼</a></h5>
                                                                        <p class="text-muted fs-14 mb-0">Jobcy
                                                                            Technology Pvt.Ltd</p>
                                                                    </div>
                                                                </div><!--end col-->
                                                                <div class="col-lg-3 align-self-center">
                                                                    <ul class="list-inline mb-0 float-end">
                                                                        <li class="list-inline-item"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="View More">
                                                                            <a href="job-details.html"
                                                                                class="avatar-xs bg-soft-success d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="mdi mdi-eye"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item "
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title=""
                                                                            data-bs-original-title="Delete">
                                                                            <a href="javascript:void(0)"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#deleteModal"
                                                                                class="avatar-xs bg-soft-danger d-inline-block text-center rounded-circle fs-4">
                                                                                <i class="uil uil-trash-alt"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div><!--end row-->
                                                        </div>
                                                    </div> <!-- item1 end -->

                                                    <div class="text-center my-3">
                                                        <button type="button"
                                                            class="btn btn-primary btn-hover py-1 px-4">더보기 <i
                                                                class="uil uil-angle-right-b"></i></button>
                                                    </div>

                                                </div>

                                                <!-- 정보 변경 -->
                                                <div class="tab-pane" id="mypinfo" role="tabpanel">
                                                    <p class="mb-0">
                                                    <form action="#" class="">
                                                        <div class="text-center">
                                                            <div class="mb-4 profile-user">
                                                                <img src="assets/images/user/img-01.jpg"
                                                                    class="rounded-circle img-thumbnail profile-img"
                                                                    id="profile-img" alt="">
                                                                <div class="p-0 rounded-circle profile-photo-edit">
                                                                    <input id="profile-img-file-input" type="file"
                                                                        class="profile-img-file-input"
                                                                        onchange="previewImg()">
                                                                    <label for="profile-img-file-input"
                                                                        class="profile-photo-edit avatar-xs">
                                                                        <i class="uil uil-edit"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <label for="inputname" class="form-label">이름</label>
                                                                    <input type="text" class="form-control"
                                                                        id="inputname" placeholder="Enter your name">
                                                                </div>
                                                            </div><!--end col-->
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <label for="inputphone"
                                                                        class="form-label">연락처</label>
                                                                    <input type="text" class="form-control"
                                                                        id="inputphone" placeholder="Enter your phone">
                                                                </div>
                                                            </div><!--end col-->
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <label for="inputemail"
                                                                        class="form-label">이메일</label>
                                                                    <input type="email" class="form-control"
                                                                        id="inputemail" placeholder="Enter your email">
                                                                </div>
                                                            </div><!--end col-->

                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <label for="inputaddress"
                                                                        class="form-label">주소</label>
                                                                    <input type="text" class="form-control"
                                                                        id="inputaddress"
                                                                        placeholder="Enter your address">
                                                                </div>
                                                            </div><!--end col-->
                                                        </div><!--end row-->
                                                        <div class="text-end">
                                                            <button type="submit"
                                                                class="btn btn-primary btn-hover py-1 px-3">수정 <i
                                                                    class="uil uil-angle-right-b"></i></button>
                                                        </div>
                                                    </form>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </section>
                <!-- END CANDIDATE-DETAILS -->

            </div>
            <!-- End Page-content -->



            <!-- START FOOTER -->
            <div class="footer-alt">
                <div class="container">
                    <div class="row">
                        <div class="text-center text-white-50 col-lg-12 mb-2">
                            <img style="height: 45px;" src="assets/images/logo-light.png">
                        </div>
                        <div class="text-center text-white-50 col-lg-12">
                            <a class="d-inline-block text-reset" href="#">개인정보처리방침</a> |
                            <a class="d-inline-block text-reset" href="#">저작권정책</a> |
                            <a class="d-inline-block text-reset" href="#">사이트맵</a>
                        </div>
                        <div class="col-lg-12">
                            <p class="text-white-50 text-center mb-0">
                                고객센터 : 02-123-1234
                                <script>document.write(new Date().getFullYear())</script> &copy; smore - All Rights
                                Reserved.
                            </p>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </div>
            <!-- END FOOTER -->

            <!--start back-to-top-->
            <button onclick="topFunction()" id="back-to-top">
                <i class="mdi mdi-arrow-up"></i>
            </button>
            <!--end back-to-top-->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


    <!-- Choice Js -->
    <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Light Box Js -->
    <script src="assets/libs/glightbox/js/glightbox.min.js"></script>

    <script src="assets/js/pages/lightbox.init.js"></script>

    <!-- Switcher Js -->
    <script src="assets/js/pages/switcher.init.js"></script>

    <script src="assets/js/app.js"></script>

</body>

</html>