<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout :: head}"></head>
<!--Custom Css-->
<link th:href="@{/css/news.css}" id="news" rel="stylesheet" type="text/css" />
<!-- jquery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <!--start page Loader -->
	<div id="preloader">
		<div id="status">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<!--end page Loader -->

	<!-- Begin page -->
	<header th:replace="~{common/layout :: #header}"></header>

    <div class="main-content">

      <div class="page-content">

        <!-- Start home -->
        <section class="page-title-box" th:style="'background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(' + @{/images/img/hero_news.jpg} + '); height: 350px; padding-top: 130px; background-position: center bottom;'">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="text-center text-white">
                  <h3 class="mb-4 hero-title" style="font-weight: 400;">뉴스</h3>
                  <div class="page-next">
                    <nav class="d-inline-block" aria-label="breadcrumb text-center">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a th:href="@{/}">HOME</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/news}">INFORMATION</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> NEWS </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
          <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
              <path fill="#FFFFFF" fill-opacity="1"
                d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
              </path>
            </svg>
          </div>
        </div>
        <!-- END SHAPE -->


        <!-- START CATEGORIES -->
        <section class="section my-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="text-center mb-5">
                  <p class="badge bg-warning fs-14 mb-2 px-3">오늘의 뉴스</p>
                  <h2 class="my-3">실시간 뉴스 정보</h2>
                  <p class="text-muted">1인 가구 관련 뉴스 정보를 안내해드립니다.</p>
                </div>
              </div><!--end col-->
            </div><!--end row-->
            <div class="row">
              <div class="col-lg-12">
                <div class="card job-Categories-box border-0">
                  <div class="card-body bg-secondary bg-opacity-10 rounded-3">
                    <div th:each="item : ${list}">
                    <ul class="list-unstyled job-Categories-list m-4" id="newsContents">
                      <li class="row">
                        <div class="d-inline-block">
                          <span class="fs-5 fw-bold d-inline-block text-truncate" th:text="${item.title}"></span>
                          <p th:text="${item.description}"></p>
                          <p class="text-muted" th:text="${#dates.format(item.pubDate, 'yyyy-MM-dd HH:mm')}"></p>
                          <a class="badge bg-soft-info fs-6 float-end align-middle mt-n4" th:href="${item.originallink}" target="_blank">바로가기 <i class="uil uil-external-link-alt"></i> </a>
                        </div>
                      </li>
                    </ul>
                    </div>
                    
                  <!-- 페이징 -->
                  <div class="row">
                    <div class="col-lg-12 mt-4 mb-5 pt-2">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                          <th:block th:if="${pageInfo.currentPage == pageInfo.startPage}">
                            <li class="page-item " th:classappend="${pageInfo.currentPage == 1 ? 'disabled' : ''}">
                              <a class="page-link" th:href="@{/news(page=${pageInfo.prevPage})}" tabindex="-1">
                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                              </a>
                            </li>
                          </th:block>
                          <th:block th:if="${pageInfo.currentPage != pageInfo.startPage}">
                            <li class="page-item " th:classappend="${pageInfo.currentPage == 1 ? 'disabled' : ''}">
                              <a class="page-link" th:href="@{/news(page=${pageInfo.startPage})}" tabindex="-1">
                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                              </a>
                            </li>
                          </th:block>
                          
                          <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
	                          <th:block th:if="${pageInfo.currentPage == status.current}">
	                            <li class="page-item active">
	                              <a class="page-link" th:text="${status.current}"></a>
	                            </li>
	                          </th:block>
	                          <th:block th:if="${pageInfo.currentPage != status.current}">
	                            <li class="page-item">
	                              <a class="page-link" th:href="@{/news(page=${status.current})}" th:text="${status.current}"></a>
	                            </li>
	                          </th:block>
                          </th:block>
                          
                          <th:block th:if="${pageInfo.currentPage == pageInfo.endPage}">
                            <li class="page-item">
                              <a class="page-link" th:href="@{/news(page=${pageInfo.nextPage})}">
                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                              </a>
                            </li>
                          </th:block>
                          <th:block th:if="${pageInfo.currentPage != pageInfo.endPage}">
                            <li class="page-item">
                              <a class="page-link" th:href="@{/news(page=${pageInfo.endPage})}">
                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                              </a>
                            </li>
                          </th:block>
                        </ul>
                      </nav>
                    </div><!--end col-->
                  </div><!-- end row -->
                  
                  </div>
                </div>
              </div><!--end col-->
            </div><!--end row-->
          </div><!--end container-->
        </section>
        <!-- END CATEGORIES -->

        <!-- START CTA -->
        <section class="section mb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="text-center">
                <p class="fs-5 text-muted mb-1">더 많은 뉴스 정보를 확인하고 싶다면</p>
                <p class="fs-5 text-muted mb-2">해당 버튼을 클릭하여 네이버뉴스 사이트로 이동</p>
                <div class="mt-4">
                  <a href="https://search.naver.com/search.naver?where=news&sm=tab_jum&query=1%EC%9D%B8+%EA%B0%80%EA%B5%AC" class="btn btn-outline-primary btn-hover ms-sm-1 mt-2"><i
                      class="uil uil-rocket"></i> 네이버 뉴스 이동</a>
                </div>
              </div>
            </div><!--end row-->
          </div><!--end container-->
        </section>
        <!-- END CTA -->

      </div>
      <!-- End Page-content -->

	  <footer th:replace="~{common/layout :: #footer}"></footer>

      <!-- Style switcher -->
              <a class="color-list color1" href="javascript: void(0);" onclick="setColorGreen()"></a>
              <a class="color-list color2" href="javascript: void(0);" onclick="setColor('blue')"></a>
              <a class="color-list color3" href="javascript: void(0);" onclick="setColor('green')"></a>
              <a href="javascript: void(0);" id="mode">
          <a href="javascript: void(0);" class="settings rounded-end"></a>
      </div>
      <!-- end switcher-->

      <!--start back-to-top-->
      <button onclick="topFunction()" id="back-to-top">
        <i class="mdi mdi-arrow-up"></i>
      </button>
      <!--end back-to-top-->
      
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- JAVASCRIPT -->
  <script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

  <!-- Choice Js -->
  <script th:src="@{/libs/choices.js/public/assets/scripts/choices.min.js}"></script>

  <!-- Switcher Js -->
  <script th:src="@{/js/pages/switcher.init.js}"></script>

  <script th:src="@{/js/app.js}"></script>
  
</body>

</html>