<!doctype html>
<html lang="ko">

<head>


  <meta charset="utf-8" />
  <title>smore | Recipe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" " />
  <meta name="keywords" content="" />
  <meta content="Themesdesign" name="author" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Choise Css -->
  <link rel="stylesheet" href="assets/libs/choices.js/public/assets/styles/choices.min.css">

  <!-- Nouislider Css -->
  <link rel="stylesheet" href="assets/libs/nouisliderribute/nouislider.min.css">

  <!-- Bootstrap Css -->
  <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
  <!--Custom Css-->
  <link href="assets/css/recipe.css" id="app-style" rel="stylesheet" type="text/css" />
  <!--recipe Css-->

</head>

<body>
  <!--start page Loader -->
  <div id="preloader">
    <div id="status">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <!--end page Loader -->

	<!-- Begin page -->
	<div>
		<!--Navbar Start-->
		<nav class="navbar navbar-expand-lg" id="navbar">
			<div class="container-fluid custom-container">
				<a class="navbar-brand text-dark fw-bold me-auto" href="index.html">
					<img src="assets/images/logo-dark.png" height="45" alt="" class="logo-dark" />
					<img src="assets/images/logo-light.png" height="45" alt="" class="logo-light" />
				</a>
				<div>
					<button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
						aria-controls="navbarCollapse" aria-label="Toggle navigation">
						<i class="mdi mdi-menu"></i>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mx-auto navbar-center">
						<li class="nav-item dropdown dropdown-hover">
							<a class="nav-link" href="javascript:void(0)" id="homedrop" role="button" data-bs-toggle="dropdown">
								라이프 <div class="arrow-down"></div>
							</a>
							<ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
								<li><a class="dropdown-item" href="trade.html">중고/재능 거래</a></li>
								<li><a class="dropdown-item" href="recipe.html">레시피</a></li>
								<li><a class="dropdown-item" href="outdoor.html">야외활동</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown dropdown-hover">
							<a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
								정보 <div class="arrow-down"></div>
							</a>
							<ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
								<li><a class="dropdown-item" href="rental.html">공공임대주택</a></li>
								<li><a class="dropdown-item" href="program.html">정부지원사업</a></li>
								<li><a class="dropdown-item" href="news.html">뉴스</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown dropdown-hover">
							<a class="nav-link" href="javascript:void(0)" id="productdropdown" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								커뮤니티
								<div class="arrow-down"></div>
							</a>
							<ul class="dropdown-menu dropdown-menu-center" aria-labelledby="productdropdown">
								<li><a class="dropdown-item" href="notice.html">공지사항</a></li>
								<li><a class="dropdown-item" href="board.html">자유 게시판</a></li>
								<li><a class="dropdown-item" href="suggestion.html">건의 게시판</a></li>
							</ul>
						</li><!--end dropdown-->
					</ul><!--end navbar-nav-->
				</div>
				<!--end navabar-collapse-->
        <!--logout-->
				<!-- <ul class="header-menu list-inline d-flex align-items-center mb-0">
					<a class="text-reset mx-2 log-menu" href="sign-in.html"><span class="d-none d-md-inline-block fw-medium">로그인</span></a> | 
					<a class="text-reset mx-2 log-menu" href="sign-up.html"><span class="d-none d-md-inline-block fw-medium">회원가입</span></a>
				</ul>-->
				<!--login-->
        <ul class="header-menu list-inline d-flex align-items-center mb-0">
          <li class="list-inline-item dropdown me-4">
            <a href="javascript:void(0)" class="header-item noti-icon position-relative" id="notification"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-bell fs-22"></i>
              <div class="count position-absolute">1</div>
            </a>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0" aria-labelledby="notification">
              <div class="notification-header border-bottom bg-light">
                <h6 class="mb-1"> 알림센터 </h6>
                <p class="text-muted fs-13 mb-0">1개의 읽지 않은 알림</p>
              </div>
              <div class="notification-wrapper dropdown-scroll">
                <a href="javascript:void(0)" class="text-dark notification-item d-block active">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar-xs bg-primary text-white rounded-circle text-center">
                        <i class="uil uil-user-check"></i>
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <h6 class="mt-0 mb-1 fs-14">22 verified registrations</h6>
                      <p class="mb-0 fs-12 text-muted"><i class="mdi mdi-clock-outline"></i>
                        <span>3 min
                          ago</span>
                      </p>
                    </div>
                  </div>
                </a><!--end notification-item-->
              </div><!--end notification-wrapper-->
              <div class="notification-footer border-top text-center">
                <a class="primary-link fs-13" href="javascript:void(0)">
                  <i class="mdi mdi-arrow-right-circle me-1"></i> <span>더보기</span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-inline-item dropdown">
            <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="assets/images/profile.jpg" alt="mdo" width="35" height="35" class="rounded-circle me-1"> <span
                class="d-none d-md-inline-block fw-medium">스모어
                님</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
              <li><a class="dropdown-item" href="mypage.html">마이페이지</a></li>
              <li><a class="dropdown-item" href="housebudget.html">가계부</a></li>
              <li><a class="dropdown-item" href="sign-out.html">로그아웃</a></li>
            </ul>
          </li>
        </ul><!--end header-menu-->
      </div>
      <!--end container-->
    </nav>
    <!-- Navbar End -->

    <div class="main-content">

      <div class="page-content">

        <!-- Start home -->
        <section class="page-title-box" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/images/img/hero_recipe.jpg); height: 350px; padding-top: 130px; background-position: center;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="text-center text-white">
                  <h3 class="mb-4 hero-title" style="font-weight: 400;">레시피</h3>
                  <div class="page-next">
                    <nav class="d-inline-block" aria-label="breadcrumb text-center">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
                        <li class="breadcrumb-item"><a href="recipe.html">LIFE</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> RECIPE </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
          <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
              <path fill="#FFFFFF" fill-opacity="1"
                d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
              </path>
            </svg>
          </div>
        </div>
        <!-- END SHAPE -->


        <!-- START JOB-LIST -->
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="row">
                  <div class="lg-4">
                    <!-- Job-list -->
                    <div class="row mt-3">
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--객체 시작-->
                      <div class="job-box card col-sm-5 mb-3 ms-5 position-relative p-4">
                        <div class="featured-label">
                          <span class="featured">일품</span>
                        </div>
                        <div>
                          <div class="row align-items-center">
                            <div class="">
                              <div class="text-center">
                                <a href="recipe-detail.html">
                                  <img src="assets/images/img/rcp_rec1.png" class="rounded-3 w-100" style="height: 220px; object-fit: cover;"></a>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <div class="pt-2">
                          <div class="row justify-content-between">
                            <h5 class="col-lg-12"><a href="#" class="text-reset">제목</a></h5>
                            <div class="list-inline d-flex justify-content-between align-items-center">
                              <div>
                                <span class="text-muted d-inline"><i class="uil uil-comment-dots"></i> 10</span>
                                <span class="text-muted ms-3 d-inline"><i class="uil uil-thumbs-up"></i> 3</span>
                              </div>
                              <div class="favorite-icon mt-n4">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="col-lg-12 mt-3">
                          <a href="recipe-detail.html" class="btn btn-primary w-100 p-2" id="show-recipe"><i class="uil uil-book-alt"></i> 레시피 보기 </a>
                        </div><!--end col-->
                      </div>
                      <!--객체 끝-->
                      <!--recipe end-->
                    </div>

                  </div>
                  <!--end job-box-->

                  <!-- End Job-list -->
                  <div class="row">
                    <div class="col-lg-12 mt-4 pt-2 mb-3">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)" tabindex="-1">
                              <i class="mdi mdi-chevron-double-left fs-15"></i>
                            </a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                          <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                          <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                          <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                          <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">
                              <i class="mdi mdi-chevron-double-right fs-15"></i>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div><!--end col-->
                  </div><!-- end row -->
                </div>
              </div><!--end col-->

              <!-- START SIDE-BAR -->
              <div class="col-lg-3 mt-3">
                <div class="side-bar mt-5 mt-lg-0">
                  <form class="position-relative mb-4" method="get" action="#"><!--검색 시작-->
                    <input class="form-control" type="search" placeholder="검색어를 입력하세요" style="height: 50px;">
                    <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2"
                      type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                  </form><!--검색 시작, 끝-->

                  <form action="#" method="get">
                    <div class="col-lg-12 col-md-6 mb-3">
                      <button type="submit" class="btn btn-primary w-100 p-2 fs-5" style="height:44px;"><i
                          class="uil uil-filter"></i> 필터 검색 </button>
                    </div><!--end col-->
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item mt-3">
                        <h2 class="accordion-header" id="jobType">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#jobtype" aria-expanded="false" aria-controls="jobtype">
                            카테고리
                          </button>
                        </h2>
                        <div id="jobtype" class="accordion-collapse collapse show" aria-labelledby="jobType">
                          <div class="accordion-body">
                            <div class="side-title">
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="category" id="category1" checked>
                                <label class="form-check-label ms-2 text-muted" for="category1">
                                  일품
                                </label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="category" id="category2">
                                <label class="form-check-label ms-2 text-muted" for="category2">
                                  국&찌개
                                </label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="category" id="category3">
                                <label class="form-check-label ms-2 text-muted" for="category3">
                                  반찬
                                </label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="category" id="category4">
                                <label class="form-check-label ms-2 text-muted" for="category4">
                                  밥
                                </label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="category" id="category5">
                                <label class="form-check-label ms-2 text-muted" for="category5">
                                  후식
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- end accordion-item -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="experienceOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#experience" aria-expanded="true" aria-controls="experience">
                            인기재료
                          </button>
                        </h2>
                        <div id="experience" class="accordion-collapse collapse show" aria-labelledby="experienceOne">
                          <div class="accordion-body">
                            <div class="side-title">
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="소고기" name="ingredient"
                                  id="ingredient1" checked />
                                <label class="form-check-label ms-2 text-muted" for="ingredient1">소고기</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="돼지고기" name="ingredient"
                                  id="ingredient2" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient2">돼지고기</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="닭가슴살" name="ingredient"
                                  id="ingredient3" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient3">닭가슴살</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="닭고기" name="ingredient"
                                  id="ingredient4" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient4">닭고기</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="두부" name="ingredient"
                                  id="ingredient5" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient5">두부</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="새우" name="ingredient"
                                  id="ingredient6" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient6">새우</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="고등어" name="ingredient"
                                  id="ingredient7" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient7">고등어</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="스파게티" name="ingredient"
                                  id="ingredient8" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient8">스파게티</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="고구마" name="ingredient"
                                  id="ingredient9" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient9">고구마</label>
                              </div>
                              <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="감자" name="ingredient"
                                  id="ingredient10" />
                                <label class="form-check-label ms-2 text-muted" for="ingredient10">감자</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- end accordion-item -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="locationOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#location" aria-expanded="true" aria-controls="location">
                            칼로리
                          </button>
                        </h2>
                        <div id="location" class="accordion-collapse collapse show" aria-labelledby="locationOne">
                          <div class="accordion-body">
                            <div class="side-title">
                              <div class="mb-1">
                              </div>
                              <div class="area-range mb-1">
                                <div class="form-label mb-3"><span class="example-val mt-2" id="slider1-span"><input
                                      type="text" name="calorie" id="calorie" value=""></span>
                                  Kcal</div>
                                <div id="slider1"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- end accordion-item -->

                      <!--인기레시피 시작-->
                      <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="datePosted">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#dateposted" aria-expanded="false" aria-controls="dateposted">
                            인기 레시피
                          </button>
                        </h2>
                        <div id="dateposted" class="accordion-collapse collapse show" aria-labelledby="datePosted">
                          <div class="accordion-body">
                            <!--객체 시작-->
                            <div class="rmt-2">
                              <a href="recipe-detail.html" class="row text-reset">
                                <div class="col-lg-6">
                                  <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00475_2.png"
                                      alt="" style="width: 100px; height: 100px;" class="rounded-3">
                                </div>
                                <div class="col-lg-6 text-md-start mt-3">
                                  <p class="fw-semibold">오렌지삼겹찜</p>
                                  <p class="text-muted mt-n2">반찬 • 굽기</p>
                                </div>
                              </a>
                            </div>
                            <hr />
                            <!--객체 끝-->
                            <!--객체 시작-->
                            <div class="rmt-2">
                              <a href="recipe-detail.html" class="row text-reset">
                                <div class="col-lg-6">
                                  <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00475_2.png"
                                      alt="" style="width: 100px; height: 100px;" class="rounded-3">
                                </div>
                                <div class="col-lg-6 text-md-start mt-3">
                                  <p class="fw-semibold">오렌지삼겹찜</p>
                                  <p class="text-muted mt-n2">반찬 • 굽기</p>
                                </div>
                              </a>
                            </div>
                            <hr />
                            <!--객체 끝-->
                            <!--객체 시작-->
                            <div class="rmt-2">
                              <a href="recipe-detail.html" class="row text-reset">
                                <div class="col-lg-6">
                                  <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00475_2.png"
                                      alt="" style="width: 100px; height: 100px;" class="rounded-3">
                                </div>
                                <div class="col-lg-6 text-md-start mt-3">
                                  <p class="fw-semibold">오렌지삼겹찜</p>
                                  <p class="text-muted mt-n2">반찬 • 굽기</p>
                                </div>
                              </a>
                            </div>
                            <!--객체 끝-->
                          </div>
                        </div>
                      </div>
                    </div><!-- end accordion-item -->
                    <!--인기레시피 끝-->
                  </form>
                </div><!--end accordion-->
              </div><!--end side-bar-->
            </div><!--end col-->
            <!-- END SIDE-BAR -->
          </div><!--end row-->
      </div><!--end container-->
      </section>
      <!-- END JOB-LIST -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->

  <!-- Style switcher -->
  <div id="style-switcher" onclick="toggleSwitcher()" style="left: -165px;">
    <div>
      <div class="mt-3">
        <div class="text-center mt-3">
          <!-- light-dark mode -->
          <a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-3">
            <i class="uil uil-brightness mode-dark mx-auto"></i>
            <i class="uil uil-moon mode-light"></i>
          </a>
          <!-- END light-dark Mode -->
        </div>
      </div>
    </div>
    <div class="bottom d-none d-md-block">
    </div>
  </div>
  <!-- end switcher-->

  <!--start back-to-top-->
  <button onclick="topFunction()" id="back-to-top">
    <i class="mdi mdi-arrow-up"></i>
  </button>
  <!--end back-to-top-->
  </div>
  <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- JAVASCRIPT -->
  <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


  <!-- Choice Js -->
  <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

  <!-- Nouislider Js -->
  <script src="assets/libs/nouisliderribute/nouislider.min.js"></script>
  <script src="assets/js/pages/area-filter-range.init.js"></script>

  <!-- Checkbox Init Js -->
  <script src="assets/js/pages/checkbox.init.js"></script>

  <!-- Job Init Js -->
  <script src="assets/js/pages/job-list.init.js"></script>

  <!-- Switcher Js -->
  <script src="assets/js/pages/switcher.init.js"></script>

  <script src="assets/js/app.js"></script>

</body>

</html>