<!doctype html>
<html lang="ko">


<head>


  <meta charset="utf-8" />
  <title>smore | Rental</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" " />
  <meta name="keywords" content="" />
  <meta content="Themesdesign" name="author" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Choise Css -->
  <link rel="stylesheet" href="assets/libs/choices.js/public/assets/styles/choices.min.css">

  <!-- Nouislider Css -->
  <link rel="stylesheet" href="assets/libs/nouisliderribute/nouislider.min.css">


  <!-- Bootstrap Css -->
  <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
  <!--Custom Css-->
  <link href="assets/css/rental.css" id="custom" rel="stylesheet" type="text/css" />
</head>

<body>
  <!--start page Loader -->
  <div id="preloader">
    <div id="status">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <!--end page Loader -->

  <!--Navbar Start-->
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid custom-container">
      <a class="navbar-brand text-dark fw-bold me-auto" href="index.html">
        <img src="assets/images/logo-dark.png" height="45" alt="" class="logo-dark" />
        <img src="assets/images/logo-light.png" height="45" alt="" class="logo-light" />
      </a>
      <div>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-label="Toggle navigation">
          <i class="mdi mdi-menu"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto navbar-center">
          <li class="nav-item dropdown dropdown-hover">
            <a class="nav-link" href="javascript:void(0)" id="homedrop" role="button" data-bs-toggle="dropdown">
              라이프 <div class="arrow-down"></div>
            </a>
            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
              <li><a class="dropdown-item" href="trade.html">중고/재능 거래</a></li>
              <li><a class="dropdown-item" href="recipe.html">레시피</a></li>
              <li><a class="dropdown-item" href="outdoor.html">야외활동</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown dropdown-hover">
            <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
              정보 <div class="arrow-down"></div>
            </a>
            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
              <li><a class="dropdown-item" href="rental.html">공공임대주택</a></li>
              <li><a class="dropdown-item" href="program.html">정부지원사업</a></li>
              <li><a class="dropdown-item" href="news.html">뉴스</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown dropdown-hover">
            <a class="nav-link" href="javascript:void(0)" id="productdropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              커뮤니티
              <div class="arrow-down"></div>
            </a>
            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="productdropdown">
              <li><a class="dropdown-item" href="notice.html">공지사항</a></li>
              <li><a class="dropdown-item" href="board.html">자유 게시판</a></li>
              <li><a class="dropdown-item" href="suggestion.html">건의 게시판</a></li>
            </ul>
          </li><!--end dropdown-->
        </ul><!--end navbar-nav-->
      </div>
      <!--end navabar-collapse-->
      <!--logout-->
      <!-- <ul class="header-menu list-inline d-flex align-items-center mb-0">
					<a class="text-reset mx-2 log-menu" href="sign-in.html"><span class="d-none d-md-inline-block fw-medium">로그인</span></a> | 
					<a class="text-reset mx-2 log-menu" href="sign-up.html"><span class="d-none d-md-inline-block fw-medium">회원가입</span></a>
				</ul>-->
      <!--login-->
      <ul class="header-menu list-inline d-flex align-items-center mb-0">
        <li class="list-inline-item dropdown me-4">
          <a href="javascript:void(0)" class="header-item noti-icon position-relative" id="notification"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-bell fs-22"></i>
            <div class="count position-absolute">1</div>
          </a>
          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0" aria-labelledby="notification">
            <div class="notification-header border-bottom bg-light">
              <h6 class="mb-1"> 알림센터 </h6>
              <p class="text-muted fs-13 mb-0">1개의 읽지 않은 알림</p>
            </div>
            <div class="notification-wrapper dropdown-scroll">
              <a href="javascript:void(0)" class="text-dark notification-item d-block active">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar-xs bg-primary text-white rounded-circle text-center">
                      <i class="uil uil-user-check"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="mt-0 mb-1 fs-14">22 verified registrations</h6>
                    <p class="mb-0 fs-12 text-muted"><i class="mdi mdi-clock-outline"></i>
                      <span>3 min
                        ago</span>
                    </p>
                  </div>
                </div>
              </a><!--end notification-item-->
            </div><!--end notification-wrapper-->
            <div class="notification-footer border-top text-center">
              <a class="primary-link fs-13" href="javascript:void(0)">
                <i class="mdi mdi-arrow-right-circle me-1"></i> <span>더보기</span>
              </a>
            </div>
          </div>
        </li>
        <li class="list-inline-item dropdown">
          <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="assets/images/profile.jpg" alt="mdo" width="35" height="35" class="rounded-circle me-1"> <span
              class="d-none d-md-inline-block fw-medium">스모어
              님</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
            <li><a class="dropdown-item" href="mypage.html">마이페이지</a></li>
            <li><a class="dropdown-item" href="housebudget.html">가계부</a></li>
            <li><a class="dropdown-item" href="sign-out.html">로그아웃</a></li>
          </ul>
        </li>
      </ul><!--end header-menu-->
    </div>
    <!--end container-->
  </nav>
  <!-- Navbar End -->

  <div class="main-content">

    <div class="page-content">

      <div class="main-content">

        <div class="page-content">

          <!-- Start home -->
          <section class="page-title-box" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/images/img/hero_rental.jpg); height: 350px; padding-top: 130px; background-position: center bottom;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="text-center text-white">
                    <h3 class="mb-4 hero-title" style="font-weight: 400;">공공주택정보</h3>
                    <div class="page-next">
                      <nav class="d-inline-block" aria-label="breadcrumb text-center">
                        <ol class="breadcrumb justify-content-center">
                          <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
                          <li class="breadcrumb-item"><a href="rental.html">INFORMATION</a></li>
                          <li class="breadcrumb-item active" aria-current="page"> RENTAL </li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </section>
          <!-- end home -->


          <!-- START SHAPE -->
          <div class="position-relative" style="z-index: 1">
            <div class="shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                  d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                </path>
              </svg>
            </div>
          </div>
          <!-- END SHAPE -->

          <br><br>



          <!-- START JOB-LIST -->
          <section class="section">
            <div class="container">
              <form action="#">
                <div class="row g-2">
                  <div class="col-lg-3 col-md-6">
                    <div class="filler-job-form">
                      <i class="mdi mdi-magnify"></i>
                      <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1"
                        placeholder="공급명 검색">
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6">
                    <div class="filler-job-form">
                      <i class="uil uil-location-point"></i>
                      <select class="form-select" name="" id="choices-single-location"
                        aria-label="Default select example">
                        <option value="ALL" selected>지역</option>
                        <option value="">서울특별시</option>
                        <option value="">대구광역시</option>
                        <option value="">인천광역시</option>
                        <option value="">광주광역시</option>
                        <option value="">대전광역시</option>
                        <option value="">울산광역시</option>
                        <option value="">세종특별자치시</option>
                        <option value="">경기도</option>
                        <option value="">강원도</option>
                        <option value="">충청북도</option>
                        <option value="">충청남도</option>
                        <option value="">전라북도</option>
                        <option value="">전라남도</option>
                        <option value="">경상북도</option>
                        <option value="">경상남도</option>
                        <option value="">제주특별자치도</option>

                      </select>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6">
                    <div class="filler-job-form">
                      <i class="mdi mdi-home-search"></i>
                      <select class="form-select " data-trigger name="choices-single-categories"
                        id="choices-single-categories" aria-label="Default select example">
                        <option value="1" selected>주택유형</option>
                        <option value="4">전체</option>
                        <option value="2">아파트</option>
                        <option value="3">연립주택</option>
                        <option value="4">다세대주택</option>
                        <option value="5">단독주택</option>
                        <option value="6">다가구주택</option>
                        <option value="7">오피스텔</option>
                        <option value="8">기숙사</option>
                      </select>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6">
                    <a href="javascript:void(0)" class="btn btn-primary w-100"><i class="uil uil-filter"></i> 필터 검색</a>
                  </div><!--end col-->
                </div><!--end row-->
              </form>
              <div class="row mt-4">
                <div class="col-lg-12">
                  <h6 class="fs-20 mb-3">공급 유형 태그</h6>
                  <div class="selecte-tag position-relative">
                    <input type="text" id="choices-text-remove-button" value="일반공급, 청년, 국가유공자, 기타공급">
                  </div>
                </div><!--end col-->
                <!-- <div class="col-lg-12">
                    <div class="mt-4">
                        <h6 class="fs-16">검색 결과</h6>
                    </div> -->
                <!-- </div> end col-->
              </div><!--end row-->
              <!-- 공고 전체 시작 페이지-->
              <div>
                <!-- 공고 카테고리 시작(1)-->
                <div class="job-box card mt-5">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">경산하양 천년나무 3단지(A-3블록) 행복주택 입주자 추가모집(자격완화,
                              선착순동호지정, 선계약후검증)</a></h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>경상북도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2023-01-17
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-03-31</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-purple mt-1">모집중</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->

                <!-- 공고 카테고리 시작(2)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">전남지역(순천, 보성) 부도매입임대 공가세대 일반매각 공고</a></h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>전라남도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집공고일자 :
                                2023-01-16
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-02-08</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-purple mt-1">모집중</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->


                <!-- 공고 카테고리 시작(3)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">2022년 12월 사전청약 일반형 공공분양주택 입주자모집공고</a>
                          </h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>경기도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2022-12-30
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-03-30</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-purple mt-1">모집중</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->


                <!-- 공고 카테고리 시작(4)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">2022년 12월 사전청약 나눔형(이익공유형) 분양주택
                              입주자모집공고</a>
                          </h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>경기도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2022-12-30
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-03-30</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-purple mt-1">모집중</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->



                <!-- 공고 카테고리 시작(5)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">‘22년 12월 고덕강일 3단지 사전예약 토지임대부 분양주택
                              입주자모집공고</a>
                          </h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>서울특별시</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2022-12-30
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-02-31</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-purple mt-1">모집중</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->


                <!-- 공고 카테고리 시작(6)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">경산하양 천년나무 3단지(A-3블록) 행복주택 입주자 추가모집(자격완화,
                              선착순동호지정, 선계약후검증)</a></h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>경상북도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2023-02-31
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-02-31</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-warning mt-1">모집완료</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->


                <!-- 공고 카테고리 시작(7)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">경산하양 천년나무 3단지(A-3블록) 행복주택 입주자 추가모집(자격완화,
                              선착순동호지정, 선계약후검증)</a></h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>경상북도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2023-02-31
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-02-31</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">SH공사</span>
                            <span class="badge bg-soft-warning mt-1">모집완료</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->


                <!-- 공고 카테고리 시작(8)-->
                <div class="job-box card mt-4">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-10">
                        <div class="mt-3 mt-lg-0">
                          <h5 class="fs-17 mb-1"><a href="#" class="text-dark">경산하양 천년나무 3단지(A-3블록) 행복주택 입주자 추가모집(자격완화,
                              선착순동호지정, 선계약후검증)</a></h5>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>경상북도</p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-calendar-blank"></i> 모집일자 : 2023-02-31
                              </p>
                            </li>
                            <li class="list-inline-item">
                              <p class="text-muted fs-14 mb-0"><i class="uil uil-tag"></i> 당첨발표일자 : 2023-02-31</p>
                            </li>
                          </ul>
                          <div class="mt-2">
                            <span class="badge bg-soft-success mt-1">아파트</span>
                            <span class="badge bg-soft-blue mt-1">LH</span>
                            <span class="badge bg-soft-warning mt-1">모집완료</span>
                          </div>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                    <div class="favorite-icon">
                      <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                    </div>
                  </div>
                </div>
                <!--공고 카테고리 끝-->


              </div><!--end col-->

            </div><!--end row-->

            <div class="row">
              <div class="col-lg-12 mt-5">
                <nav aria-label="Page navigation example">
                  <ul class="pagination job-pagination mb-0 justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="javascript:void(0)" tabindex="-1">
                        <i class="mdi mdi-chevron-double-left fs-15"></i>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">
                        <i class="mdi mdi-chevron-double-right fs-15"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div><!--end col-->
            </div><!-- end row -->

        </div><!--end container-->
        </section>
        <!-- END JOB-LIST -->
        <br><br>

        <!-- START APPLY MODAL -->
        <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body p-5">
                <div class="text-center mb-4">
                  <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                </div>
                <div class="position-absolute end-0 top-0 p-3">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="mb-3">
                  <label for="nameControlInput" class="form-label">Name</label>
                  <input type="text" class="form-control" id="nameControlInput" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                  <label for="emailControlInput2" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="emailControlInput2" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                  <label for="messageControlTextarea" class="form-label">Message</label>
                  <textarea class="form-control" id="messageControlTextarea" rows="4"
                    placeholder="Enter your message"></textarea>
                </div>
                <div class="mb-4">
                  <label class="form-label" for="inputGroupFile01">Resume Upload</label>
                  <input type="file" class="form-control" id="inputGroupFile01">
                </div>
                <button type="submit" class="btn btn-primary w-100">Send Application</button>
              </div>
            </div>
          </div>
        </div><!-- END APPLY MODAL -->

      </div>
      <!-- End Page-content -->


      <!-- START FOOTER -->
      <div class="footer-alt">
        <div class="container">
          <div class="row">
            <div class="text-center text-white-50 col-lg-12 mb-2">
              <img style="height: 45px;" src="assets/images/logo-light.png">
            </div>
            <div class="text-center text-white-50 col-lg-12">
              <a class="d-inline-block text-reset" href="#">개인정보처리방침</a> |
              <a class="d-inline-block text-reset" href="#">저작권정책</a> |
              <a class="d-inline-block text-reset" href="#">사이트맵</a>
            </div>
            <div class="col-lg-12">
              <p class="text-white-50 text-center mb-0">
                고객센터 : 02-123-1234
                <script>document.write(new Date().getFullYear())</script> &copy; smore - All Rights Reserved.
              </p>
            </div><!--end col-->
          </div><!--end row-->
        </div><!--end container-->
      </div>
      <!-- END FOOTER -->


      <!-- Style switcher -->
      <div id="style-switcher" onclick="toggleSwitcher()" style="left: -165px;">
        <div>
          <div class="mt-3">
            <div class="text-center mt-3">
              <!-- light-dark mode -->
              <a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-3">
                <i class="uil uil-brightness mode-dark mx-auto"></i>
                <i class="uil uil-moon mode-light"></i>
              </a>
              <!-- END light-dark Mode -->
            </div>
          </div>
        </div>
        <div class="bottom d-none d-md-block">
        </div>
      </div>
      <!-- end switcher-->

      <!--start back-to-top-->
      <button onclick="topFunction()" id="back-to-top">
        <i class="mdi mdi-arrow-up"></i>
      </button>
      <!--end back-to-top-->
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- JAVASCRIPT -->
  <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


  <!-- Choice Js -->
  <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

  <!-- Job Init Js -->
  <script src="assets/js/pages/job-list.init.js"></script>

  <!-- Job-Grid Js -->
  <script src="assets/js/pages/job-grid.init.js"></script>

  <!-- Switcher Js -->
  <script src="assets/js/pages/switcher.init.js"></script>

  <!-- App Js -->
  <script src="assets/js/app.js"></script>

  <!-- Custom Js -->
  <script src="assets/js/pages/favorite.js"></script>

</body>

</html>