<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout :: head}"></head>

<body>

  <!-- Begin page -->
  <div>
  
  	<!--start page Loader -->
	<div id="preloader">
		<div id="status">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<!--end page Loader -->

   	<header th:replace="~{common/layout :: #header}"></header>

    <div class="main-content">

      <div class="page-content">

        <!-- START HOME -->
        <section class="bg-home2" id="home">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="mb-4 pb-3 me-lg-5">
                  <h1 class="display-6 mb-3 font-sangju"><span class="text-primary fw-bold">전체</span>검색결과</h1>
                  <p class="lead text-muted mb-0">전체 카테고리에 대한 정보를 검색해 보세요!</p>
                </div>
                <form action="#">
                  <div class="registration-form">
                    <div class="row g-0">
                      <div class="col-md-8">
                        <div class="filter-search-form mt-3 mt-md-0">
                          <input type="search" id="searchValue" class="form-control filter-input-box fw-light" th:value="${searchValue}">
                        </div>
                      </div><!--end col-->
                      <div class="col-md-4">
                        <div class="mt-3 mt-md-0 h-100">
                          <button class="btn btn-primary submit-btn w-100 h-100 fs-110" type="submit"><i
                              class="uil uil-search me-1"></i> 검색</button>
                        </div>
                      </div><!--end col-->
                    </div><!--end row-->
                  </div>
                </form>
              </div>
              <!--end col-->
              <div class="col-lg-5">
                <div class="mt-5 mt-md-0">
                  <img src="assets/images/process-02.png" alt="" class="home-img" />
                </div>
              </div><!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </section>
        <!-- End Home -->

        <!-- START SHAPE -->
        <div class="position-relative">
          <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
              width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
              <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
                <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
              </g>
              <defs>
                <mask id="SvgjsMask1004">
                  <rect width="1440" height="250" fill="#ffffff"></rect>
                </mask>
              </defs>
            </svg>
          </div>
        </div>
        <!-- END SHAPE -->

        <section class="py-2">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="highlight text-center mb-3 font-sangju">검색 결과</h4>
                <h3 class="mb-5 text-center">검색어 <em style="color:#5257c2;">&quot;[[${searchValue}]]&quot;</em>&nbsp;에 대한 전체 <em
                    style="color:#babef7;">10</em>&nbsp;개의 결과를 찾았습니다.</h3>

                <br><br>

                <!-- <div class="text-block">
                  <ul class="result_list">
                    <li>
                      <p class="text-muted mt-5">
                        <a style="font-size: 1.3rem" href="#"><span
                            style="font-weight: 700"></span><span class="hl">/
                            ${item.introduction}</span>
                          <span class="hl" style="font-size: 1rem; line-height: 1rem; opacity: 80%">${item.tag}</span>
                        </a>
                    </li>
                  </ul>
                </div> -->

                <div class="job-detail-desc mt-2 ms-lg-5">
                  <ul class=" job-detail-list2 list-unstyled mb-0 text-muted fs-18">
                    <li><!-- 카테고리명 -->
                      <p class="category1">정부지원사업</p>
                    </li>
                    <li><!-- 1 제목, 내용 -->
                      <th:block th:if="${!#lists.isEmpty(oprogramList)}">
	                      <th:block th:each="oneProgram : ${oprogramList}">
		                      <i class="uil uil-circle" style="line-height: 30px;"></i>
		                      <p style="font-size:1.2rem;">
		                        <a style="text-decoration: none; color: none;" th:href="|/program-detail?onepNo=${oneProgram.onepNo}|">[[${oneProgram.partcptnSj}]]</a>
		                      </p>
	                      </th:block>
                      </th:block>
                      <th:block th:if="${#lists.isEmpty(oprogramList)}">
	                      <i class="uil uil-circle" style="line-height: 30px;"></i>
	                      <p style="font-size:1.2rem;">
	                        검색된 결과가 없습니다.
	                      </p>
                      </th:block>
                    </li>
                    <li><!-- 2 제목, 내용 -->
                      <i class="uil uil-circle" style="line-height: 30px;"></i>
                      <p style="font-size:1.2rem;">
                        <a style="text-decoration: none; color: none;" href="#">관악구, '여성 안전 서비스' <span class="highlight">지원</span>&nbsp;:&nbsp;서울 관악구가 여성 1인 가구의 안전한 주거생활을 위해 '안심 홈3종 세트'를 <span class="highlight">지원</span>합니다.</a>
                      </p>
                    </li>
                    <hr class="mt-4 mb-4">
                    <li><!-- 카테고리명 -->
                      <p class="category1">공지사항</p>
                    </li>
                    <li><!-- 1 제목, 내용 -->
                      <i class="uil uil-circle" style="line-height: 30px;"></i>
                      <p style="font-size:1.2rem;">
                        검색된 결과가 없습니다.
                      </p>
                    </li>
                    <hr class="mt-4 mb-4">
                    <li><!-- 카테고리명 -->
                      <p class="category1">자유게시판</p>
                    </li>
                    <li><!-- 1 제목, 내용 -->
                      <i class="uil uil-circle" style="line-height: 30px;"></i>
                      <p style="font-size:1.2rem;">
                        <a style="text-decoration: none; color: none;" href="#">생활지원금 언제 <span class="highlight">지원</span>받을 수 있나요?&nbsp;:&nbsp;급합니다. 아시는 분 댓글 부탁드려요ㅠㅠ</a>
                      </p>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

          <!-- 페이지 카운트 -->
          <div class="row mt-5">
            <div class="col-lg-12 mt-5 mb-5">
              <nav aria-label="Page navigation example">
                <ul class="pagination job-pagination mb-0 justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="mdi mdi-chevron-double-left fs-15"></i>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="mdi mdi-chevron-double-right fs-15"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div><!--end col-->
          </div><!-- end row -->
        </section>

      </div>
      <!-- End Page-content -->
	<footer th:replace="~{common/layout :: #footer}"></footer>

	<!-- Style switcher -->
	<a class="color-list color1" href="javascript: void(0);"
		onclick="setColorGreen()"></a> <a class="color-list color2"
		href="javascript: void(0);" onclick="setColor('blue')"></a> <a
		class="color-list color3" href="javascript: void(0);"
		onclick="setColor('green')"></a> <a href="javascript: void(0);"
		id="mode"> <a href="javascript: void(0);"
		class="settings rounded-end"></a>
	<!-- end switcher-->

	<!--start back-to-top-->
	<button onclick="topFunction()" id="back-to-top">
		<i class="mdi mdi-arrow-up"></i>
	</button>
	<!--end back-to-top-->
	
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- JAVASCRIPT -->
  <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


  <!-- Choice Js -->
  <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

  <!-- Swiper Js -->
  <script src="assets/libs/swiper/swiper-bundle.min.js"></script>

  <!-- Index Js -->
  <script src="assets/js/pages/job-list.init.js"></script>

  <!-- Switcher Js -->
  <script src="assets/js/pages/switcher.init.js"></script>

  <script src="assets/js/pages/index.init.js"></script>

  <!-- App Js -->
  <script src="assets/js/app.js"></script>
  
  <script type="text/javascript">
	window.onload = function () {
		let search = document.getElementById("searchValue").value;
		let hlList = document.querySelectorAll(".hl");
		for (var i = 0; i < hlList.length; i++) {
			let text =  hlList[i].innerHTML;
			console.dir("text : "+text);
			text = text.replaceAll(search,"<span style='color:#ffaC34; font-weight: 900;'>"+search+"</span>");
			document.querySelectorAll(".hl")[i].innerHTML = text;
		}
	}
</script>

</body>

</html>