<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout :: head}"></head>
<!-- <title>Smore | Trade Details</title> -->
<!--Custom Css-->
<link th:href="@{/css/trade.css}" id="trade" rel="stylesheet"
	type="text/css" />

<body>
	<!--Navbar Start-->
	<header th:replace="~{common/layout :: #header}"></header>
	<!-- Navbar End -->
	<div>
		<!-- Begin page -->
		<div class="main-content">
			<div class="page-content">

				<!-- Start home -->
				<section class="page-title-box hero-img">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="text-center text-white">
									<h3 class="mb-4 hero-title">
										<a class="text-white" th:href="@{/trade}">중고/재능 거래</a>
									</h3>
									<div class="page-next">
										<nav class="d-inline-block"
											aria-label="breadcrumb text-center">
											<ol class="breadcrumb justify-content-center">
												<li class="breadcrumb-item"><a th:href="@{/}">HOME</a></li>
												<li class="breadcrumb-item"><a th:href="@{/trade}">LIFE</a></li>
												<li class="breadcrumb-item"><a th:href="@{/trade}">TRADE</a></li>
												<li class="breadcrumb-item"><a
													th:onClick="window.location.reload()"
													style="cursor: pointer;"> TRADE DETAILS</a></li>
												<!-- <li class="breadcrumb-item"><a th:href="@{/history.go(0)}">TRADE DETAILS</a></li> -->
											</ol>
										</nav>
									</div>
								</div>
							</div>
							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end container-->
				</section>
				<!-- end home -->

				<!-- START SHAPE -->
				<div class="position-relative" style="z-index: 1">
					<div class="shape">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
              <path fill="#FFFFFF" fill-opacity="1"
								d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
							</path>
            </svg>
					</div>
				</div>
				<!-- END SHAPE -->

				<!-- START JOB-DEATILS -->
				<section class="section my-4">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="card job-detail overflow-hidden">
									<th:block
										th:if="${trade.renamedFileName == '' || trade.renamedFileName == null}">
										<div class="text-center ">
											<p class="fs-5 mx-auto my-5">이미지가 없습니다</p>
											<!-- 스크랩 버튼 .js 추가 작업 필요 -->
										</div>
									</th:block>

									<th:block
										th:unless="${trade.renamedFileName == '' || trade.renamedFileName == null}">
										<div class="text-center position-relative">
											<img th:src="|/trade/file/${trade.renamedFileName}|"
												style="height: 550px; object-fit: contain;" alt="제품사진"
												class="img-fluid">
											<div class="col-lg-4">
											</div>
										</div>
									</th:block>
									<!-- 스크랩 버튼 -->
									<th:block th:if="${session.loginMember != null}">
										<div class="position-absolute top-0 end-0 m-4">
											<div class="clip clipbtn favorite-icon "
												th:id="|clip${trade.tradeNo}|" th:value="${trade.isClip}"
												th:onclick="|onClickClip('clip${trade.tradeNo}', '${trade.tradeNo}');|">
												<a class="bg-soft-primary p-1"
													style="cursor: pointer; width: 40px; height: 40px;">
													<i class="uil uil-bookmark fs-4"></i>
												</a>
											</div>
											<div th:id="|aazzclip${trade.tradeNo}|"
													class="m-1 text-center">[[${trade.clipCount}]]</div>
										</div>
												</th:block>
									<div class="card-body p-4">
										<!--end col-->
										<div>
											<div class="row">
												<div class="col-md-8 ps-5">
													<span
														class="badge bg-soft-primary trade-badge fs-4 py-2 px-3">[[${trade.type}]]</span>
													<h4 class="mb-2 mt-3">[[${trade.title}]]</h4>
												</div>
												<!--end col-->

												<div class="col-lg-4 text-end pe-4">
													<span><p class="text-muted fs-6 mb-0">
															<i class=""> <svg xmlns="http://www.w3.org/2000/svg"
																	width="20" height="20" fill="currentColor"
																	class="bi bi-person-fill me-2" viewBox="0 0 16 16">
                                <path
																		d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                </svg>
															</i> 조회수 [[${trade.readCount}]]
														</p></span>
													<h4 class="mb-2 mt-3">[[${trade.price}]] 원</h4>
												</div>
												<!--end col-->
											</div>
											<!--end row-->
										</div>
										<hr>
										<div class="mt-4 px-5">
											<div class="job-detail-desc">
												<p class="mb-0"
													style="font-size: 15pt; line-height: 25pt; min-height: 200px;">
													[[${trade.content}]]</p>
											</div>
										</div>
									</div>
									<!--end card-body-->
								</div>
								<!--end job-detail-->
								<th:block
									th:if="${session.loginMember != null && 
									(session.loginMember.id == trade.id || session.loginMember.role == 'ROLE_ADMIN')}">
									<div class="col-sm-12 p-3 pe-4 text-end">
										<button type="button" id="btnUpdate"
											class="btn btn-primary btn-hover me-3">수정하기</button>
										<button type="button" id="btnDelete"
											class="btn btn-primary btn-hover">삭제하기</button>
									</div>
								</th:block>
								<!-- comment start -->
								<h3 class="border-bottom pb-3 ps-5 mt-4">문의</h3>
								<!-- 등록된 댓글 -->
								<th:block th:if="${replyTradeList != null}">
									<th:block th:each="replyTrade : ${replyTradeList}">
										<div class="mt-4 pe-4">
											<div class="d-sm-flex align-items-top">
												<div class="flex-shrink-0 ps-5">
													<img class="rounded-circle avatar-md"
														th:src="@{/images/user/img-01.jpg}" alt="img"
														style="width: 100px; height: 100px;" />
												</div>
												<div class="row ms-sm-3 flex-grow-1">
													<div class="col-4 flex-grow-1">
														<a class="primary-link"><h5 class="mt-sm-0 mt-3 mb-0">[[${replyTrade.writerId}]] 님</h5></a>
														<h6 class="text-muted mb-0">[[${#dates.format(replyTrade.createDate,'yyyy/MM/dd (E) a HH:mm:ss')}]]</h6>
													</div>
													<th:block
														th:if="${session.loginMember != null && (session.loginMember.id == replyTrade.writerId || 
														session.loginMember.role == 'ROLE_ADMIN')}">
														<div class="col-5 text-end pe-2 float-end">
															<button type="button" class="btn btn-purple py-1 opacity-75" 
																name="update" th:id="|updateBtn${replyTrade.tradeRNo}|"
																th:onclick="|updateReplyTrade(${replyTrade.tradeRNo});|">수정</button>
															<button type="button"
																name="delete" class="btn btn-purple py-1 opacity-75"
																th:onclick="|deleteReplyTrade(${replyTrade.tradeRNo},${trade.tradeNo});|">삭제</button>
														</div>
													</th:block>
													<p class="mb-0 fs-5 pe-3" th:id="|content${replyTrade.tradeRNo}|">[[${replyTrade.content}]]</p>
													<div class="mt-1 pt-3 mb-3 updateReply" th:id="|updateReply${replyTrade.tradeRNo}|" style="display: none">
	                        		<div class="row">
					                  <div class="col-lg-12">
					                    <div class="mb-3">
					                      <input type="hidden" name="tradeNo" th:value="${replyTrade.tradeRNo}" />
					                      <textarea class="form-control" th:id="|inputReply${replyTrade.tradeRNo}|" name="content" rows="3"
					                        placeholder="내용을 입력해주세요." required>[[${replyTrade.content}]]</textarea>
					                    </div>
					                  </div><!--end col-->
					                </div><!--end row-->
					                <div class="text-end">
					                  <button id="submit" class="btn btn-purple py-1" 
					                  th:onclick="|backBtn(${replyTrade.tradeRNo})|">취소</button>
					                  <button type="submit" id="submit" class="btn btn-purple py-1" 
					                  th:onclick="|updBtn(${replyTrade.tradeRNo}, ${replyTrade.tradeNo})|">확인</button>
					                </div>
		                          </div>
												</div>
											</div>
										</div>
									</th:block>
								</th:block>
								<!-- 댓글입력 폼 -->
								<th:block th:if="${session.loginMember != null}">
								<form th:action="@{/trade/reply}" method="post"
									class="contact-form my-4 px-4">
									<input type="hidden" name="tradeNo" th:value="${trade.tradeNo}" />
									<input type="hidden" name="writerId" th:value="${session.loginMember.id}" />
									<div class="col-lg-12 ">
										<div class="position-relative mb-3 ps-4">
											<label for="comments" class="form-label fs-5">댓글작성</label>
											<textarea name="content" id="replyContent" rows="4"
												class="form-control bg-soft-secondary"
												placeholder="Enter your message"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 text-end">
											<button type="submit" name="submit" id="submit"
												class="btn btn-primary btn-hover">
												등록하기 <i class="uil uil-message ms-1"></i>
											</button>
										</div>
									</div>
								</form>
								</th:block>
							</div>
							<!--end col-->

							<div class="col-lg-4 mt-4 mt-lg-0">

								<!--start side-bar-->
								<div class="side-bar ms-lg-4">
									<div class="card job-overview">
										<div class="card-body p-4">
											<h3 class="">요약정보</h3>
											<ul class="list-unstyled mt-4 mb-0">

												<li>
													<div class="d-flex mt-4">
														<i class="uil uil-user icon bg-soft-primary"></i>
														<div class="ms-3">
															<h6 class="text-muted fs-14 mb-1">작성자</h6>
															<h5 class="mb-0"
																th:text="${trade.id}">
															</h5>
														</div>
													</div>
												</li>
												<li>
													<div class="d-flex mt-4">
														<i class="uil uil-history icon bg-soft-primary"></i>
														<div class="ms-3">
															<h6 class="text-muted fs-14 mb-1">작성시간</h6>
															<h5 class="mb-0"
																th:text="${#dates.format(trade.createDate,'yyyy/MM/dd (a) HH:mm')}">
															</h5>
														</div>
													</div>
												</li>
												<li>
													<div class="d-flex mt-4">
														<i class="uil uil-package icon bg-soft-primary"></i>
														<div class="ms-3">
															<h6 class="text-muted fs-14 mb-1">카테고리</h6>
															<h5 class="mb-0">[[${trade.category}]]</h5>
														</div>
													</div>
												</li>
												<li>
													<div class="d-flex mt-4">
														<i class="uil uil-star-half-alt icon bg-soft-primary"></i>
														<div class="ms-3">
															<h6 class="text-muted fs-14 mb-1">상태</h6>
															<h5 class="mb-0">[[${trade.conditions}]]</h5>
														</div>
													</div>
												</li>
												<li>
													<div class="d-flex mt-4">
														<i class="uil uil-location-point icon bg-soft-primary"></i>
														<div class="ms-3">
															<h6 class="text-muted fs-14 mb-1">위치</h6>
															<h5 class="mb-0">[[${trade.region}]]</h5>
														</div>
													</div>
												</li>
												<li>
													<div class="d-flex mt-4">
														<i class="uil uil-usd-circle icon bg-soft-primary"></i>
														<div class="ms-3">
															<h6 class="text-muted fs-14 mb-1">가격</h6>
															<h5 class="mb-0">[[${trade.price}]] 원</h5>
														</div>
													</div>
												</li>
											</ul>
											<div class="mt-3">
												<a href="#applyNow"
													class="btn btn-primary btn-hover w-100 mt-2"
													th:onclick="$('.clipbtn').trigger('click');"><i
													class="uil uil-bookmark"></i> 스크랩 추가 </a> <a
													onClick="history.back()"
													class="btn btn-soft-purple btn-hover w-100 mt-2"> </i> 목록보기<i
													class="uil uil-arrow-right"></i></a>
											</div>
										</div>
										<!--end card-body-->
									</div>
									<!--end job-overview-->

								</div>
								<!--end side-bar-->
							</div>
							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end container-->
				</section>
				<!-- START JOB-DEATILS -->
			</div>
			<!-- End Page-content -->



			<!-- START FOOTER -->
			<footer th:replace="~{common/layout :: #footer}"></footer>
			<!-- END FOOTER -->

			<!--start back-to-top-->
			<button onclick="topFunction()" id="back-to-top">
				<i class="mdi mdi-arrow-up"></i>
			</button>
			<!--end back-to-top-->
		</div>
		<!-- end main content-->

	</div>


	<!-- JAVASCRIPT -->
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script
		src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

	<!-- jquery  -->
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

	<!-- Switcher Js -->
	<script th:src="@{/js/pages/switcher.init.js}"></script>

	<!-- App Js -->
	<script th:src="@{/js/app.js}"></script>

	<!-- Custom Js -->
	<script th:src="@{/js/pages/trade-detail.js}"></script>
	<script>
	$(document).ready(() => {
		$("#btnUpdate").on("click", (e) => {
			location.href = "/trade/update?no=[[${trade.tradeNo}]]";
		});

		$("#btnDelete").on("click", (e) => {
			if (confirm("정말로 게시글을 삭제 하시겠습니까?")) {
				location.replace("/trade/delete?tradeNo=[[${trade.tradeNo}]]");
			}
		});
	});

	function deleteReplyTrade(tradeRNo, tradeNo) {
		var url = "/trade/replyDel?replyNo=";
		var requestURL = url + tradeRNo + "&tradeNo=" + tradeNo;
		location.replace(requestURL);
	}
	
	function updateReplyTrade(tradeRNo){
  		var updateBtn = document.getElementById("updateBtn" + tradeRNo);
  		updateBtn.style.display = "none";
  		
  		var content = document.getElementById("content" + tradeRNo);
  		content.style.display = "none";
  		
  		var updateForm = document.getElementById("updateReply" +tradeRNo);
  		updateForm.style.display = "inline-block";
  	}
  	
 	function updBtn(tradeRNo, tradeNo){
 		var newContent = document.getElementById("inputReply" + tradeRNo).value;
 		if(newContent.trim() === ''){
 			alert("내용을 입력해주세요.")
 			return;
 		}
 		
 		var requestURL = '/trade/replyUpdate?tradeRNo=' + tradeRNo +'&content=' + newContent + '&tradeNo=' + tradeNo;
 		location.replace(requestURL);
 	}
 	
 	function backBtn(tradeRNo){
 		var updateBtn = document.getElementById("updateBtn" + tradeRNo);
 		updateBtn.style.display = "inline-block";
 		
 		var content = document.getElementById("content" + tradeRNo);
 		content.style.display = "inline-block";
 		
 		var updateForm = document.getElementById("updateReply" +tradeRNo);
 		updateForm.style.display = "none";
 	}
  	
	</script>
</body>
</html>