<!doctype html>
<html lang="ko">

<head>


  <meta charset="utf-8" />
  <title>smore | Outdoor Detail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" " />
  <meta name="keywords" content="" />
  <meta content="Themesdesign" name="author" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Choise Css -->
  <link rel="stylesheet" href="assets/libs/choices.js/public/assets/styles/choices.min.css">

  <!-- Nouislider Css -->
  <link rel="stylesheet" href="assets/libs/nouisliderribute/nouislider.min.css">


  <!-- Bootstrap Css -->
  <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
  <!--Custom Css-->
  <link rel="stylesheet" href="assets/css/outdoor.css">
  <!-- Pretendard Font -->
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/dd4a6a23ab.js" crossorigin="anonymous"></script>


</head>

<body>
  <!--start page Loader -->
  <!-- <div id="preloader">
  </div> -->
  <!--end page Loader -->

  <!-- Begin page -->
  <div>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg" id="navbar">
      <div class="container-fluid custom-container">
        <a class="navbar-brand text-dark fw-bold me-auto" href="index.html">
          <img src="assets/images/logo-dark.png" height="45" alt="" class="logo-dark" />
          <img src="assets/images/logo-light.png" height="45" alt="" class="logo-light" />
        </a>
        <div>
          <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto navbar-center">
            <li class="nav-item dropdown dropdown-hover">
              <a class="nav-link" href="javascript:void(0)" id="homedrop" role="button" data-bs-toggle="dropdown">
                라이프 <div class="arrow-down"></div>
              </a>
              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                <li><a class="dropdown-item" href="trade.html">중고/재능 거래</a></li>
                <li><a class="dropdown-item" href="recipe.html">레시피</a></li>
                <li><a class="dropdown-item" href="outdoor.html">야외활동</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown dropdown-hover">
              <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
                정보 <div class="arrow-down"></div>
              </a>
              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
                <li><a class="dropdown-item" href="rental.html">공공임대주택</a></li>
                <li><a class="dropdown-item" href="program.html">정부지원사업</a></li>
                <li><a class="dropdown-item" href="news.html">뉴스</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown dropdown-hover">
              <a class="nav-link" href="javascript:void(0)" id="productdropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                커뮤니티
                <div class="arrow-down"></div>
              </a>
              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="productdropdown">
                <li><a class="dropdown-item" href="notice.html">공지사항</a></li>
                <li><a class="dropdown-item" href="board.html">자유 게시판</a></li>
                <li><a class="dropdown-item" href="suggestion.html">건의 게시판</a></li>
              </ul>
            </li><!--end dropdown-->
          </ul><!--end navbar-nav-->
        </div>
        <!--end navabar-collapse-->
        <!--logout-->
				<!-- <ul class="header-menu list-inline d-flex align-items-center mb-0">
					<a class="text-reset mx-2 log-menu" href="sign-in.html"><span class="d-none d-md-inline-block fw-medium">로그인</span></a> | 
					<a class="text-reset mx-2 log-menu" href="sign-up.html"><span class="d-none d-md-inline-block fw-medium">회원가입</span></a>
				</ul>-->
				<!--login-->
        <ul class="header-menu list-inline d-flex align-items-center mb-0">
          <li class="list-inline-item dropdown me-4">
            <a href="javascript:void(0)" class="header-item noti-icon position-relative" id="notification"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-bell fs-22"></i>
              <div class="count position-absolute">1</div>
            </a>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0" aria-labelledby="notification">
              <div class="notification-header border-bottom bg-light">
                <h6 class="mb-1"> 알림센터 </h6>
                <p class="text-muted fs-13 mb-0">1개의 읽지 않은 알림</p>
              </div>
              <div class="notification-wrapper dropdown-scroll">
                <a href="javascript:void(0)" class="text-dark notification-item d-block active">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar-xs bg-primary text-white rounded-circle text-center">
                        <i class="uil uil-user-check"></i>
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <h6 class="mt-0 mb-1 fs-14">22 verified registrations</h6>
                      <p class="mb-0 fs-12 text-muted"><i class="mdi mdi-clock-outline"></i>
                        <span>3 min
                          ago</span>
                      </p>
                    </div>
                  </div>
                </a><!--end notification-item-->
              </div><!--end notification-wrapper-->
              <div class="notification-footer border-top text-center">
                <a class="primary-link fs-13" href="javascript:void(0)">
                  <i class="mdi mdi-arrow-right-circle me-1"></i> <span>더보기</span>
                </a>
              </div>
            </div>
          </li>
          <li class="list-inline-item dropdown">
            <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="assets/images/profile.jpg" alt="mdo" width="35" height="35" class="rounded-circle me-1"> <span
                class="d-none d-md-inline-block fw-medium">스모어
                님</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
              <li><a class="dropdown-item" href="mypage.html">마이페이지</a></li>
              <li><a class="dropdown-item" href="housebudget.html">가계부</a></li>
              <li><a class="dropdown-item" href="sign-out.html">로그아웃</a></li>
            </ul>
          </li>
        </ul><!--end header-menu-->
      </div>
      <!--end container-->
    </nav>
    <!-- Navbar End -->

    <div class="main-content">

      <div class="page-content">

        <!-- Start home -->
        <section class="page-title-box" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/images/img/hero_outdoor-detail.jpg); height: 350px; padding-top: 130px; background-position: center;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="text-center text-white">
                  <h3 class="mb-4 hero-title" style="font-weight: 400;">야외활동</h3>
                  <div class="page-next">
                    <nav class="d-inline-block" aria-label="breadcrumb text-center">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
                        <li class="breadcrumb-item"><a href="outdoor.html">LIFE</a></li>
                        <li class="breadcrumb-item"><a href="outdoor.html">OUTDOOR</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> OUTDOOR DETAIL </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
          <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
              <path fill="#FFFFFF" fill-opacity="1"
                d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
              </path>
            </svg>
          </div>
        </div>
        <!-- END SHAPE -->

        <!-- START JOB-DEATILS -->
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mt-lg-4">
                <div class="card job-detail overflow-hidden">
                  <div>
                    <img src="assets/images/img/park1.png" alt="" class="" style="width: 800px; height:400px">
                  </div>
                  <div class="card-body p-4">
                    <div>
                      <div class="row">
                        <div class="col-md-10">
                          <h2 class="mb-2" style="letter-spacing:.5px;">서울숲공원</h2>
                          <ul class="list-inline text-muted mb-0">
                            <li class="fs-18">근린공원</li>
                          </ul>
                        </div><!--end col-->
                        <div class="col-lg-2">
                          <ul class="list-inline mb-0 text-lg-end mt-3 mt-lg-0">
                            <li class="list-inline-item">
                              <div class="favorite-icon2">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt"></i></a>
                              </div>
                            </li>
                            
                          </ul>
                        </div><!--end col-->
                      </div><!--end row-->
                    </div>

                    <div class="mt-4">
                      <div class="row g-2">
                        <div class="col-lg-8">
                          <div class="border rounded-start p-3">
                            <p class="text-muted mb-0 fs-16">주소</p>
                            <p class="fw-medium fs-17 mb-0">서울특별시 성동구 뚝섬로 273</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="border p-3">
                            <p class="text-muted fs-16 mb-0">공원면적</p>
                            <p class="fw-medium fs-17 mb-0">480994&nbsp;m<sup>2</sup></p>
                          </div>
                        </div>
                        <!-- <div class="col-lg-2">
                          <div class="border p-3">
                            <p class="text-muted fs-13 mb-0">????</p>
                            <p class="fw-medium mb-0">????</p>
                          </div>
                        </div> -->
                      </div>
                    </div><!--end Experience-->


                    <div class="mt-5">
                      <h4 class="mb-4">공원보유시설</h4>
                      <div class="job-detail-desc mt-2">
                        <ul class=" job-detail-list2 list-unstyled mb-0 text-muted fs-17">
                          <li><i class="uil uil-circle"></i>운동시설&nbsp;:&nbsp;체육시설(6)&nbsp;+&nbsp;풋살구장(1)
                          </li>
                          <li><i class="uil uil-circle"></i>유희시설&nbsp;:&nbsp;조합놀이대(모래)(1)</li>
                          <li><i class="uil uil-circle"></i>편익시설&nbsp;:&nbsp;화장실(1)&nbsp;+&nbsp;파고라(6)&nbsp;+&nbsp;등의자(9)&nbsp;+&nbsp;평의자(6)</li>
                          <li><i class="uil uil-circle"></i>교양시설&nbsp;:&nbsp;-</li>
                          <li><i class="uil uil-circle"></i>기타시설&nbsp;:&nbsp;CCTV(2)</li>

                          
                        </ul>
                      </div>
                    </div>
                    <div class="mt-4">
                      <div class="job-details-desc">
                        <div class="mt-4">
                          <span class="badge2 bg-primary">#서울</span>
                          <span class="badge2 bg-primary">#근린공원</span>
                          <span class="badge2 bg-primary">#올림픽공원</span>
                        </div>
                      </div>
                    </div>
                  </div><!--end card-body-->
                </div><!--end job-detail-->

              <div class="mt-5"> 
                <h4 class="border-bottom pb-3">리뷰</h4>
                <div class="row mt-5">
                    <div class="col-lg-9 d-sm-flex align-items-top">
                      <div class="flex-shrink-0">
                        <img class="rounded-circle avatar-md img-thumbnail" src="assets/images/user/img-01.jpg" alt="img" />
                      </div>
                      <div class="flex-grow-1 ms-sm-3">
                        <a href="javascript:(0)" class="primary-link">
                          <h6 class="fs-16 mt-sm-0 mt-3 mb-0">아이디1</h6>
                        </a>
                        <p class="text-muted fs-14 mb-0 mb-2">2023-02-01 15:45</p>
                        <p class="fs-16  mb-0">성수동 바로 옆이라서 밥먹고 걷기 좋아요~</p>
                      </div>
                    </div>
                    <div class="col-lg-3 text-end">
                      <button name="update" type="update" class="btn btn-primary">수정</button>
                      <button name="delete" type="delete" class="btn btn-primary">삭제</button>
                    </div>
                </div>
                <form action="#" class="contact-form mt-5">
                  <div class="row mt-5">
                    <div class="col-lg-12">
                      <div class="position-relative mb-3">
                        <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="댓글 작성"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-sm-12 text-end">
                      <button name="submit" type="submit" id="submit" class="btn btn-primary btn-hover">등록하기 <i
                          class="uil uil-message ms-1"></i></button>
                    </div>
                  </div>
                </form><!--end form-->
              </div><!--end col-->

              <div class="col-lg-4 mt-4 mt-lg-4">
                <!--start side-bar-->
                <div class="side-bar ms-lg-4">
                  <div class="card job-overview">
                    <div class="card-body p-4">
                      <h6 class="fs-20">세부 정보</h6>
                      <ul class="list-unstyled mt-4 mb-0">
                        <li>
                          <div class="d-flex mt-4">
                            <i class="uil uil-location-point icon bg-soft-primary"></i>
                            <div class="ms-3">
                              <h6 class="fs-15 mb-1">위치</h6>
                              <p class="text-muted mb-0 fs-17">서울특별시</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex mt-4">
                            <i class="uil uil-building icon bg-soft-primary"></i>
                            <div class="ms-3">
                              <h6 class="fs-15 mb-1">관리기관명</h6>
                              <p class="text-muted mb-0 fs-17">서울시청</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex mt-4">
                            <i class="uil uil-phone icon bg-soft-primary"></i>
                            <div class="ms-3">
                              <h6 class="fs-15 mb-1">전화번호</h6>
                              <p class="text-muted mb-0 fs-17">02-460-2905</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex mt-4">
                            <i class="uil uil-star-half-alt icon bg-soft-primary"></i>
                            <div class="ms-3">
                              <h6 class="fs-15 mb-1">지정고시일</h6>
                              <p class="text-muted mb-0 fs-17">2005-06-18</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex mt-4">
                            <i class="uil uil-history icon bg-soft-primary"></i>
                            <div class="ms-3">
                              <h6 class="fs-15 mb-1">데이터기준일자</h6>
                              <p class="text-muted mb-0 fs-17">2022-11-01</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div><!--end card-body-->
                  </div><!--end job-overview-->

                  

                  <div class="mt-4">
                    <h6 class="fs-20 mb-3">위치 정보</h6>
                    <div id="kakaomap" style="width:100%; height:250px;"></div>
                  </div>
                </div>
                <!--end side-bar-->
              </div><!--end col-->
            </div><!--end row-->
          </div><!--end container-->
        </section>
        <!-- START JOB-DEATILS -->

        

      </div>
      <!-- End Page-content -->

      
      <!-- START FOOTER -->
      <div class="footer-alt">
				<div class="container">
					<div class="row">
						<div class="text-center text-white-50 col-lg-12 mb-2">
							<img style="height: 45px;" src="assets/images/logo-light.png">
						</div>
						<div class="text-center text-white-50 col-lg-12">
							<a class="d-inline-block text-reset" href="#">개인정보처리방침</a> | 
							<a class="d-inline-block text-reset" href="#">저작권정책</a> | 
							<a class="d-inline-block text-reset" href="#">사이트맵</a>
						</div>
						<div class="col-lg-12">
							<p class="text-white-50 text-center mb-0">
								고객센터 : 02-123-1234
								<script>document.write(new Date().getFullYear())</script> &copy; smore - All Rights Reserved.
							</p>
						</div><!--end col-->
					</div><!--end row-->
				</div><!--end container-->
			</div>
      <!-- END FOOTER -->

      <!-- Style switcher -->
      <div id="style-switcher" onclick="toggleSwitcher()" style="left: -165px;">
        <div>
          <h6>Select your color</h6>
          <ul class="pattern list-unstyled mb-0">
            <li>
              <a class="color-list color1" href="javascript: void(0);" onclick="setColorGreen()"></a>
            </li>
            <li>
              <a class="color-list color2" href="javascript: void(0);" onclick="setColor('blue')"></a>
            </li>
            <li>
              <a class="color-list color3" href="javascript: void(0);" onclick="setColor('green')"></a>
            </li>
          </ul>
          <div class="mt-3">
            <h6>Light/dark Layout</h6>
            <div class="text-center mt-3">
              <!-- light-dark mode -->
              <a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-3">
                <i class="uil uil-brightness mode-dark mx-auto"></i>
                <i class="uil uil-moon mode-light"></i>
              </a>
              <!-- END light-dark Mode -->
            </div>
          </div>
        </div>
        <!-- <div class="bottom d-none d-md-block">
          <a href="javascript: void(0);" class="settings rounded-end"><i class="mdi mdi-cog mdi-spin"></i></a>
        </div> -->
      </div>
      <!-- end switcher-->

      <!--start back-to-top-->
      <button onclick="topFunction()" id="back-to-top">
        <i class="mdi mdi-arrow-up"></i>
      </button>
      <!--end back-to-top-->
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- JAVASCRIPT -->
  <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


  <!-- Switcher Js -->
  <script src="assets/js/pages/switcher.init.js"></script>

  <!-- App Js -->
  <script src="assets/js/app.js"></script>

  <!-- 카카오 지도 -->
  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e0216acf240302af61958af813b83190"></script>
  <script>
    var mapContainer = document.getElementById('kakaomap'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(37.544462, 127.037407), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(37.544462, 127.037407); 

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);    
  </script> -->
</body>

</html>